# install package bridge-utils
- name: bridge-utils-Paket installieren
  apt:
    pkg: ['bridge-utils']

# creating batman interface
- name: Create interfaces - batman file
  template: src="batman.j2" dest="/etc/network/interfaces.d/10_batman.cfg"
  notify:
    - restart networking
  when: domaenenliste is defined

- name: 20_l2tp_bridge.cfg exist?
  stat:
    path: /etc/network/interfaces.d/20_l2tp_bridge.cfg
  register: stat_l2tp_bridge

- name: example copying file with owner and permissions
  copy:
    src: /etc/network/interfaces.d/20_l2tp_bridge.cfg
    dest: /etc/network/interfaces.d/20_domain_bridge.cfg
    remote_src: true
  when: stat_l2tp_bridge.stat.exists

- name: remove 20_l2tp_bridge.cfg
  file:
    state: absent
    path: /etc/network/interfaces.d/20_l2tp_bridge.cfg
  when: stat_l2tp_bridge.stat.exists

# create a br<domain> bridge interface for each domain
- name: Create a bridge interface for each domain
  template: src=domain_bridge.j2 dest=/etc/network/interfaces.d/20_domain_bridge.cfg
  notify:
    - restart networking
  when: domaenenliste is defined

#append line in interfaces file for reading additional config files
- name: let read interfaces from interfaces
  lineinfile: dest="/etc/network/interfaces" line="source /etc/network/interfaces.d/*"
  notify:
    - restart networking
  when: domaenenliste is defined

- name: Routingtabelle 42 auch ffnet nennen
  blockinfile:
    path: "/etc/iproute2/rt_tables"
    marker: "# {mark} Ansible managed block"
    block: |
      42   ffnet
  when: domaenenliste is defined

- name: Drei Sekunden nach Kernelpanik automatisch neu starten
  sysctl: name="kernel.panic" value=3 sysctl_set=yes state=present reload=yes sysctl_file=/etc/sysctl.d/ff-kernelpanic.conf
  when: domaenenliste is defined
