# This file is managed by ansible, don't make changes here - they will be overwritten.

# Batman Interface 
# - Erstellt das virtuelle Inteface fuer das Batman-Modul und bindet dieses an die Netzwerkbruecke 
# - Die unten angelegte Routing-Tabelle wird spaeter fuer das Routing innerhalb von Freifunk (Router/VPN) verwendet 

auto bat{{item.value.number}}
iface bat{{item.value.number}} inet6 static
        address {{item.value.ipv6}}
        netmask 64
        pre-up modprobe batman-adv
	pre-up ip link add bat{{item.value.number}} type batadv
	post-up ip link set address {{item.value.mac}} dev bat{{item.value.number}}
        post-up ip link set dev bat{{item.value.number}} up
	post-up batctl -m bat{{item.value.number}} if add mesh-vpn{{item.value.number}} ||:
        post-up batctl -m bat{{item.value.number}} it 10000
	post-up pgrep -a -x -f "alfred -i bat{{item.value.number}}.*" || alfred -i bat{{item.value.number}} -b bat{{item.value.number}} -u /run/alfred{{item.value.number}}.sock -m >/dev/null&
	post-up pgrep -a -x -f "batadv-vis -i bat{{item.value.number}}.*" || batadv-vis -i bat{{item.value.number}} -u /run/alfred{{item.value.number}}.sock -s >/dev/null 2>&1&
	pre-down pkill -x -f "alfred -i bat{{item.value.number}}.*" ||:
	pre-down pkill -x -f "batadv-vis -i bat{{item.value.number}}.*" ||:
	post-down ip link del bat{{item.value.number}}

