server {
	listen 80;
	listen [::]:80;
        listen 443 ssl spdy;
        listen [::]:443 ssl spdy;
        ssl_certificate /etc/ssl/fullchain.pem;
        ssl_certificate_key /etc/ssl/key.pem;
        ssl_session_cache shared:SSL:5m;
        ssl_session_timeout 5m;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "AES:!ADH:!AECDH:!MD5:!DSS";
        ssl_prefer_server_ciphers on;
	server_name _;
	root /var/www/html;
	index index.html;
        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
                gzip_types text/plain text/css application/json application/javascript;
        }

        location /data {
                expires 0;
                add_header Cache-Control private;
                add_header Vary Accept-Encoding;
                access_log off;
		gzip_types text/plain application/json;
        }
	
	location /maps {
		rewrite ^/maps$ https://karte.freifunk-muensterland.de/ permanent;
		rewrite ^/maps/(.*)$ https://karte.freifunk-muensterland.de/$1 permanent;
	}
}
