server {
	listen 80;
	listen [::]:80;
	server_name graphite.{{ freifunk.domain }}
	root /var/www/html;
	index index.html;
	charset     utf-8;
	location / {
		uwsgi_pass  unix:/tmp/uwsgi.sock;
		include     uwsgi_params;
	}
	location /content/ {
		alias /var/lib/graphite/webapp/content/;
	}
	location /.well-known/ {
		alias /var/www/html/.well-known/;
		try_files $uri $uri/ =404;
	}
}

