<html>
<head>
<meta charset="UTF-8">
<title>Services für {{ freifunk.name }}</title>
</head>
<body>
<h1>Services für {{ freifunk.name }}</h1>
Dieser Server stellt <a href=https://graphite.{{ freifunk.domain }}/>Statistiken mittels Graphite</a> zur Verfügung.
</body>
</html>
