# {{ ansible_managed }}

connection_timeout=600
command_timeout=600

allowed_hosts=127.0.0.1,{{ ansible_default_ipv4.address }},{{ groups['monitoring']|default([]) | map('extract',hostvars, ['ansible_ssh_host']) | join(',') }}

# Speedtest
command[check_speedtest-cli-2]=/usr/lib/nagios/plugins/check_speedtest-cli.sh -w 2 -c 1 -W 0.2 -C 0.1 -p -s 4193
command[check_speedtest-cli-10]=/usr/lib/nagios/plugins/check_speedtest-cli.sh -w 10 -c 5 -W 1 -C 0.5 -p -s 4193
command[check_speedtest-cli-50]=/usr/lib/nagios/plugins/check_speedtest-cli.sh -w 50 -c 25 -W 5 -C 2.5 -p -s 4193
command[check_speedtest-cli-100]=/usr/lib/nagios/plugins/check_speedtest-cli.sh -w 100 -c 50 -W 10 -C 5 -p -s 4193

# Bandwith
#command[check_bandwidth]=/usr/lib/nagios/plugins/check_bandwidth rx 60 eth0 bw
command[check_bandwidth]=/usr/lib/nagios/plugins/check_eth -i {{ansible_default_ipv4.interface}} -w 200M Bps -c 200M Bps ### TODO: check ist falschherum. Meldet bei Ueberschreiten aber leider nicht bei unterschreiten.
 
# Debian Server
command[check_load]=/usr/lib/nagios/plugins/check_load -w 15,10,5 -c 30,25,20
command[check_ram]=/usr/lib/nagios/plugins/check_ram -w 10 -c 5 -f -C
command[check_zombie_procs]=/usr/lib/nagios/plugins/check_procs -w 5 -c 10 -s Z
command[check_total_procs]=/usr/lib/nagios/plugins/check_procs -w 220 -c 240
command[check_disk]=/usr/lib/nagios/plugins/check_disk -w 15% -c 10% -p /
#command[check_update]=/usr/lib/nagios/plugins/check_apt
command[check_apt_succesful]=/usr/lib/nagios/plugins/check_file_age -w 604800 -c 1209600 -f /var/lib/apt/periodic/update-success-stamp

# Gateway Server
command[check_bird]=/usr/lib/nagios/plugins/check_procs -c 1: -w 1: -C bird
command[check_bird6]=/usr/lib/nagios/plugins/check_procs -c 1: -w 1: -C bird6
command[check_bind]=/usr/lib/nagios/plugins/check_procs -c 1: -w 1: -C named
command[check_collectd]=/usr/lib/nagios/plugins/check_procs -c 1: -w 1: -C collectd
command[check_pyrespondd]=/usr/lib/nagios/plugins/check_systemd_service py-respondd
command[check_respondd]=/usr/lib/nagios/plugins/check_systemd_service respondd
command[check_tunneldigger]=/usr/lib/nagios/plugins/check_tunneldigger
command[check_fastd]=/usr/lib/nagios/plugins/check_fastd
command[check_dhcp-server]=/usr/lib/nagios/plugins/check_procs -c 1: -w 1: -C kea-dhcp4
command[check_isc-dhcp-server]=/usr/lib/nagios/plugins/check_procs -c 1: -w 1: -C dhcpd
command[check_isc-dhcp-server-leases]=/usr/bin/dhcpd-pools -c /etc/dhcp/dhcpd.conf -l /var/lib/dhcp/dhcpd.leases --warning=80 --critical=90 --perfdata
command[check_vnstat]=/usr/lib/nagios/plugins/check_vnstat.sh -i {{ansible_default_ipv4.interface}} 
command[check-dhcp-client]=/usr/lib/nagios/plugins/check_dhcp -t 5
command[check-dns4-client]=/usr/lib/nagios/plugins/check_dns -H ipv4.google.com -w 0.5 -c 1
command[check-dns6-client]=/usr/lib/nagios/plugins/check_dns -H ipv6.google.com -w 0.5 -c 1
command[check-http4-client]=/usr/lib/nagios/plugins/check_http -H ipv4.google.com -4 -w 1 -c 2
command[check-http6-client]=/usr/lib/nagios/plugins/check_http -H ipv6.google.com -6 -w 1 -c 2
command[check-ping-v4]=/usr/lib/nagios/plugins/check_ping -H 8.8.8.8 -w 50,3% -c 70,7% -4 -p10
command[check-ping-v6]=/usr/lib/nagios/plugins/check_ping -H 2001:4860:4860::8888 -w 50,3% -c 70,7% -6 -p10

command[check_iproute]=/usr/lib/nagios/plugins/check_iproute 
command[check_iproute6]=/usr/lib/nagios/plugins/check_iproute6 
command[check_bird_sessions]=sudo /usr/lib/nagios/plugins/check_bird_sessions
command[check_bird6_sessions]=sudo /usr/lib/nagios/plugins/check_bird6_sessions

# Service VM Server
command[check_nginx]=/usr/lib/nagios/plugins/check_procs -c 1: -w 1: -C nginx

{% if domaenenliste is defined %}
# Domain Check-Scripts on gateways
 {% for domaene in domaenenliste|dictsort %}
command[check_batip6_{{domaene[0]}}]=/usr/lib/nagios/plugins/check_batip6 -D {{domaene[0]}}
command[check_batip_{{domaene[0]}}]=/usr/lib/nagios/plugins/check_batip -D {{domaene[0]}}
 {% endfor %}
{% endif %}

# Freifunk-Tester is now monitored by passive checkresults
#{% if 'monitoring-satellites' in group_names and is_ff_tester is defined %}
## Freifunk-Tester
# {% for domaene in domaenen|dictsort %}
#command[check_FFTesterV4_{{domaene[0]}}]=sudo /root/gits/tools/Freifunk-Tester/icinga_reporter.sh {{freifunk.kurzname}}d{{domaene[0]}} IPv4-ping-test-to-google.de random
#command[check_FFTesterV6_{{domaene[0]}}]=sudo /root/gits/tools/Freifunk-Tester/icinga_reporter.sh {{freifunk.kurzname}}d{{domaene[0]}} IPv6-ping-test-to-google.de random
# {% endfor %}
#{% endif %}

{% if borg_backups is defined %}
## Borg Backups
{% for repo in borg_backups %}
command[check_borg-{{ repo.name }}]=sudo /usr/lib/nagios/plugins/check_borg "{{ repo.name }}" "ssh://{{ repo.backup_server_user }}@{{ repo.backup_server }}:{{ repo.backup_server_port }}/./{{ repo.backup_server_path | default(ansible_hostname + "-bkp") }}" 
{% endfor %}
{% endif %}

