# {{ ansible_managed }}
nagios ALL=NOPASSWD: /usr/lib/nagios/plugins/check_bird_sessions
nagios ALL=NOPASSWD: /usr/lib/nagios/plugins/check_bird6_sessions
nagios ALL=NOPASSWD: /usr/lib/nagios/plugins/check_borg
# nagios ALL=NOPASSWD: /root/gits/tools/Freifunk-Tester/icinga_reporter.sh
