/* {{ ansible_managed }} */

/**
 * The API listener is used for distributed monitoring setups.
 */

object ApiListener "{{ inventory_hostname_short }}.{{ freifunk.domain }}" {
  //accept_config = false
  //accept_commands = false

  ticket_salt = TicketSalt
  bind_port = "{{ icinga2.api_listener.port | default(5665) }}"
  bind_host = "{{ icinga2.api_listener.address | default("::") }}"
}
