; {{ ansible_managed }}

; zonefile for {{freifunk.kurzname}}. for domaene-{{item}}
$TTL    86400
@       IN      SOA     {{bind_zonemaster.server}}. {{bind_zonemaster.email | regex_replace('@', '.') }}. (
                     {{ansible_date_time.epoch}}         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
;
@			IN      NS      ns01.{{freifunk.kurzname}}.
ns01			IN      A       {{domaenen[item].ffv4_network | ipaddr(domaenenliste[item].server_id) | ipaddr('address') }}
node			IN      A       {{domaenen[item].ffv4_network | ipaddr(1) | ipaddr('address')}}
node			IN      AAAA    {{domaenen[item].ffv6_network | ipaddr(1) | ipaddr('address')}}
router			IN      A       {{domaenen[item].ffv4_network | ipaddr(1) | ipaddr('address')}}
router			IN      AAAA    {{domaenen[item].ffv6_network | ipaddr(1) | ipaddr('address')}}
knoten			IN      A       {{domaenen[item].ffv4_network | ipaddr(1) | ipaddr('address')}}
knoten			IN      AAAA    {{domaenen[item].ffv6_network | ipaddr(1) | ipaddr('address')}}
freifunk			IN      A       {{domaenen[item].ffv4_network | ipaddr(1) | ipaddr('address')}}
freifunk			IN      AAAA    {{domaenen[item].ffv6_network | ipaddr(1) | ipaddr('address')}}
{% if freifunk.ffnet_dns_entries_for_internal_tld is defined -%}
{% for entry in freifunk.ffnet_dns_entries_for_internal_tld %}
{% if freifunk.ffnet_dns_entries_for_internal_tld[entry].A is defined %}
{% if freifunk.ffnet_dns_entries_for_internal_tld[entry].A is string %}
{{entry}}	IN	A	{{ freifunk.ffnet_dns_entries_for_internal_tld[entry].A }}
{% elif freifunk.ffnet_dns_entries_for_internal_tld[entry].A is iterable %}
{% for subentry in freifunk.ffnet_dns_entries_for_internal_tld[entry].A %}
{{entry}}	IN	A	{{subentry}}
{% endfor %}
{% endif %}
{% endif %}
{% if freifunk.ffnet_dns_entries_for_internal_tld[entry].AAAA is defined %}
{% if freifunk.ffnet_dns_entries_for_internal_tld[entry].AAAA is string %}
{{entry}}	IN	AAAA	{{ freifunk.ffnet_dns_entries_for_internal_tld[entry].AAAA }}
{% elif freifunk.ffnet_dns_entries_for_internal_tld[entry].AAAA is iterable %}
{% for subentry in freifunk.ffnet_dns_entries_for_internal_tld[entry].AAAA %}
{{entry}}	IN	AAAA	{{subentry}}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif -%}
