{% for domain in domains %}
zone "{{domain}}" IN {
	type slave;
	masters {
{% for master in bind.ffms_zone_masters %}
		{{master}};
{% endfor %}
	};
};
zone "servers.{{domain}}." IN {
	type slave;
	masters {
{% for master in bind.ffms_zone_masters %}
		{{master}};
{% endfor %}
	};
};
zone "services.{{domain}}." IN {
	type slave;
	masters {
{% for master in bind.ffms_zone_masters %}
		{{master}};
{% endfor %}
	};
};
zone "knoten.{{domain}}." IN {
	type slave;
	masters {
{% for master in bind.ffms_zone_masters %}
		{{master}};
{% endfor %}
	};
};
{% endfor %}
