// {{ ansible_managed }}

{% for domain in domains %}
zone "{{domain}}" IN {
	type slave;
        file "/etc/bind/slave/db.{{domain}}";
	masters {
{% for master in bind.ffnet_zone_masters %}
		{{master}};
{% endfor %}
	};
};
zone "servers.{{domain}}." IN {
	type slave;
        file "/etc/bind/slave/db.servers.{{domain}}";
	masters {
{% for master in bind.ffnet_zone_masters %}
		{{master}};
{% endfor %}
	};
};
zone "services.{{domain}}." IN {
	type slave;
        file "/etc/bind/slave/db.services.{{domain}}";
	masters {
{% for master in bind.ffnet_zone_masters %}
		{{master}};
{% endfor %}
	};
};
zone "knoten.{{domain}}." IN {
	type slave;
        file "/etc/bind/slave/db.knoten.{{domain}}";
	masters {
{% for master in bind.ffnet_zone_masters %}
		{{master}};
{% endfor %}
	};
};
{% if additional_subzones_for_all_tlds is defined %}
{% for subzone in additional_subzones_for_all_tlds %}
zone "{{subzone}}.{{domain}}." IN {
        type slave;
        file "/etc/bind/slave/db.{{subzone}}.{{domain}}";
        masters {
{% for master in bind.ffnet_zone_masters %}
                {{master}};
{% endfor %}
        };
};
{% endfor %}
{% endif %}
{% endfor %}
{% for zone in reverse_dns %}
zone "{{ zone }}." IN {
	type slave;
	file "/etc/bind/slave/db.{{ zone }}";
	masters {
{% for master in bind.ffnet_zone_masters %}
		{{master}};
{% endfor %}
	};
};
{% endfor %}
