# {{ ansible_managed }}

server {
    listen {{ item.key.split(":")[1] | default("80") }};
    listen [::]:{{ item.key.split(":")[1] | default("80") }};

    server_name {{ item.key.split(":")[0] }}.{{ freifunk.domain }};

    location / {
        proxy_set_header X-Real-IP $ip_anonymized;
        proxy_set_header X-Forwarded-For $ip_anonymized;
        proxy_set_header Host $host;
        proxy_buffering off;

{% if item.value.backend | lower | urlsplit('scheme') == "https" and item.value.backend | lower | urlsplit('hostname') | ipaddr %}
        proxy_ssl_verify off;

{% endif %}
        proxy_pass {{ item.value.backend }};
    }

    access_log /var/log/nginx/access.log anonymized;
}
