[broker]
; IP address the broker will listen and accept tunnels on
address={{ansible_eth0.ipv4.address}}
; Ports where the broker will listen on
{% set ports = [] %}
{% for domaene in domaenenliste|dictsort %}
{% if ports.append('200'+domaene[0]) %}{% endif %}
{% endfor %}
port={{ports|join(',')}}
; Interface with that IP address
interface=eth0
; Maximum number of tunnels that will be allowed by the broker
max_tunnels=1024
; Tunnel port base
port_base=20100
; Tunnel id base
tunnel_id_base=100
; Namespace (for running multiple brokers); note that you must also
; configure disjunct ports, and tunnel identifiers in order for
; namespacing to work
namespace=default
; check if all kernel module are loaded. Do not check for built-ins.
check_modules=true
;
max_cookies=100
;
pmtu_discovery=False
;
tunnel_timeout=60

[log]
; Log filename
filename=/var/log/tunneldigger-broker.log
; Verbosity
verbosity=DEBUG
; Should IP addresses be logged or not
log_ip_addresses=false

[hooks]
; Arguments to the session.{up,pre-down,down} hooks are as follows:
;
;    <tunnel_id> <session_id> <interface> <mtu> <endpoint_ip> <endpoint_port> <local_port>
;
; Arguments to the session.mtu-changed hook are as follows:
;
;    <tunnel_id> <session_id> <interface> <old_mtu> <new_mtu>
;

; Called after the tunnel interface goes up
session.up=/srv/tunneldigger/broker/scripts/addif.sh
; Called just before the tunnel interface goes down
session.pre-down=/srv/tunneldigger/broker/scripts/delif.sh
; Called after the tunnel interface goes down
session.down=
; Called after the tunnel MTU gets changed because of PMTU discovery
session.mtu-changed=

