# This file is managed by ansible, don't make changes here - they will be overwritten.
{% for host in gre_ffms.groups %}
{% if ansible_ssh_host != hostvars[host].ansible_ssh_host %}

# GRETAP Tunnel to {{host}} ({{hostvars[host].ansible_ssh_host}})
auto tap-{{host}}
iface tap-{{host}} inet manual
        pre-up ip link add $IFACE type gretap local {{ansible_ssh_host}} remote {{hostvars[host].ansible_ssh_host}} dev eth0
        pre-up ip link set dev $IFACE address de:ad:be:ef:{{loop.index + 43}}:{{server_id}}
        pre-up ip link set $IFACE up
        post-up batctl if add $IFACE ||:
        pre-down batctl if del $IFACE ||:
        post-down ip link del $IFACE
{% endif %}
{% endfor %}

