[Unit]
Description=tunneldigger tunnelling network daemon using l2tpv3
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/bin/bash -c "PYTHONPATH=/srv/tunneldigger /srv/tunneldigger/bin/python -m broker.main /srv/tunneldigger/broker/l2tp_broker.cfg"
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
