#!/bin/sh
{% for host in ffms_tun_to%}
ping -c1 192.168.{{hostvars[host.host_name].domaenen_id*10 + server_id}}.{{hostvars[host.host_name].server_id*4+2}} || exit 1
ping6 -c1 2a03:2260:115:ffa0:{{hostvars[host.host_name].domaenen_id}}:{{server_id}}:{{hostvars[host.host_name].server_id}}:2 || exit 1
{% endfor %}
