---

- name: Install unattended-upgrades package
  apt:
    pkg: "unattended-upgrades"
    state: present
    update_cache: yes
    cache_valid_time: 1800

- name: Enable unattended upgrades
  template:
    src: 10periodic.j2
    dest: /etc/apt/apt.conf.d/10periodic

- name: Configure unattended upgrades on Debian
  template:
    src: 50unattended-upgrades-debian.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
  when: ansible_distribution == 'Debian'

- name: Configure unattended upgrades on Ubuntu
  template:
    src: 50unattended-upgrades-ubuntu.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
  when: ansible_distribution == 'Ubuntu'

- name: Let restart server once a week but not all at the same time
  cron:
    name: weekly restart
    weekday: "{{ (vm_id|default(0)-2)%7 }}"
    hour: "3"
    minute: "{{ (vm_id|default(0)*2)%30+30 }}"
    job: "if [ -f /var/run/reboot-required ]; then /sbin/shutdown -r +5; fi"
