# This file is managed by ansible, don't make changes here - they will be overwritten.
log syslog { debug, trace, info, remote, warning, error, auth, fatal, bug };

router id {{ff_network.v4_network | ipaddr(server_id) | ipaddr('address') }};

table ffnet;

#
# namen hinter protokollen definiene auch die symbole
#
protocol kernel 'p-ffnet-k' {
        scan time 20;           # Scan kernel routing table every 20 seconds
        import all;             # Default is import all. Das hat wahrscheinlich
                                # nur Auswirkungen auf Einträge, die nicht auf
                                # Interface-Ebene wirken. Bisher kein effekt
                                # beobachtet.
        export all;            # Default is export none
        table ffnet;            # ... und deswegen muss der hier nicht angegeben werden.
        kernel table 42;        # Kernel table to synchronize with (default: main)
        device routes;
};


protocol radv {
        interface "bat0" {
	  max ra interval 20;
          link mtu 1280;
          prefix {{ff_network.v6_network}} {
          };
        };
        rdnss {
          ns {{ff_network.v6_network | ipaddr(server_id) | ipaddr('address') }};
        };
};



protocol bfd 'p4-bfd-ffnet' {
        table ffnet;
        interface "gre*" {
        };
        multihop {
        };
};

# This pseudo-protocol watches all interface up/down events.
# Ohne dieses Ding nimmt ospf die Interfaces nicht war, zumindest
# wenn die mit ip referenziert werden.
protocol device {
        scan time 10;           # Scan interfaces every 10 seconds
};


protocol ospf 'p-ffnet-o' {
  table ffnet;
  import all;
  export none;

  area 0.0.0.0 {
   interface "bat0" {
	stub;
   };
   interface "gre-*" {
   };
  };
};


# Turn on global debugging of all protocols
#debug protocols all;



protocol kernel 'p-master-k' {
        scan time 20;
        table master;
        kernel table 254;
        import all; #default
        export all; #default ist none
};

protocol static 'p-master-s' {
        table master;
        import all;
        export none;
};

