{
  "dataPath": "/data/map{{item[0]}}/",
  "siteName": "Freifunk {{item[1].community}} - Domäne {{item[1].name}}",
  "mapSigmaScale": 0.5,
  "showContact": false,
  "maxAge": 14,
  "blinkingHours": 8,
  "mapLayers": [
    {
      "name": "OSM Mapnik",
      "url": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      "config": {
        "subdomains": "abc",
        "type": "osm",
        "attribution": "&copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a>",
        "maxZoom": 19
      }
    }
  ],
  "siteNames": [
    { "site": "{{freifunk.kurzname}}d{{item[0]}}", "name": "Domäne {{item[0]}} - {{item[1].name}}" }
  ],
  "globalInfos": [
    { "name": "Status-Monitor",
      "iframe": "https://freifunk-muensterland.de/grafana/dashboard-solo/db/test-alert-dashboard?theme=light&panelId=5"
    }
  ],
  "nodeInfos": [
    { "name": "Clientstatistik",
      "iframe": "https://freifunk-muensterland.de/grafana/dashboard-solo/db/node-overview?var-node={NODE_ID}&panelId=1&theme=light",
      "caption": "Knoten {NODE_ID}"
    },
    { "name": "Traffic",
      "iframe": "https://freifunk-muensterland.de/grafana/dashboard-solo/db/advanced-node-stats?var-node={NODE_ID}&theme=light&panelId=2",
      "caption": "Knoten {NODE_ID}"
    }
  ],
  "hwImg": [
    {
      "thumbnail": "/hwpics/{MODELHASH}.svg",
      "caption": "Knoten {MODELHASH}"
    }
  ]
}
