{
  "dataPath": "/data/map_{{freifunk.kurzname}}d{{item[0]}}/",
  "siteName": "{% if item[1].community is defined %}Freifunk {{item[1].community}}{% else %}{{freifunk.name}}{% endif %} - Domäne {{item[1].name}}",
  "mapSigmaScale": {{item[1].map_scale}},
  "showContact": {{item[1].map_show_contact | lower}},
  "maxAge": {{item[1].map_max_age}},
  "blinkingHours": {{item[1].map_blinking_hours}},
{% if "max_goto_zoom" in mapconfig.communityMap %}
  "maxGotoZoom": {{ mapconfig.communityMap.max_goto_zoom }},
{% endif %}
  "mapLayers": [
{% for layer in mapconfig.layers %}
    {
      "name": "{{layer.name}}",
      "url": "{{layer.url}}",
      "config": {
{% for k,v in layer.config|dictsort %}
        "{{k}}": {% if v is number %}{{v}}{% else %}"{{v}}"{% endif %}{% if not loop.last %},{% endif %}

{% endfor %}
      }
    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
  "siteNames": [
    { "site": "{{freifunk.kurzname}}d{{item[0]}}", "name": "Domäne {{item[0]}} - {{item[1].name}}" }
  ],
{% if mapconfig.globalInfos is defined %}
  "globalInfos": [
{% for globalInfo in mapconfig.globalInfos %}
    { "name": "{{ globalInfo.name }}",
      "iframe": "{{ globalInfo.iframe }}"{% if globalInfo.caption is defined %},
      "caption": "{{ globalInfo.caption }}"{% endif %}

    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
{% endif %}
{% if mapconfig.nodeInfos is defined %}
  "nodeInfos": [
{% for nodeInfo in mapconfig.nodeInfos %}
    { "name": "{{ nodeInfo.name }}",
      "iframe": "{{ nodeInfo.iframe }}"{% if nodeInfo.caption is defined %},
      "caption": "{{ nodeInfo.caption }}"{% endif %}

    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
{% endif %}
  "hwImg": [
    {
      "thumbnail": "/hwpics/{MODELHASH}.svg",
      "caption": "Knoten {MODELHASH}"
    }
  ]
}
