{% set map_domains = [] %}
{% for domain in domaenen|dictsort %}
{% if item == domain[1]['community'] %}
{% if map_domains.append(domain) %}{% endif %}
{% endif %}
{% endfor %}
{
  "dataPath": "/data/map_{% for domain in map_domains %}{{freifunk.kurzname}}d{{domain[0]}}{% if not loop.last %},{% endif %}{% endfor %}/",
  "siteName": "Freifunk {{item}}",
  "mapSigmaScale": {{ mapconfig.communityMap.map_scale }},
  "showContact": {{ mapconfig.communityMap.map_show_contact | lower}},
  "maxAge": {{ mapconfig.communityMap.map_max_age }},
  "blinkingHours": {{ mapconfig.communityMap.map_blinking_hours }},
{% if "max_goto_zoom" in mapconfig.communityMap %}
  "maxGotoZoom": {{ mapconfig.communityMap.max_goto_zoom }},
{% endif %}
  "mapLayers": [
{% for layer in mapconfig.layers %}
    {
      "name": "{{layer.name}}",
      "url": "{{layer.url}}",
      "config": {
{% for k,v in layer.config|dictsort %}
        "{{k}}": {% if v is number %}{{v}}{% else %}"{{v}}"{% endif %}{% if not loop.last %},{% endif %}

{% endfor %}
      }
    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
  "siteNames": [
{% for domain in map_domains %}
    { "site": "{{freifunk.kurzname}}d{{domain[0]}}", "name": "Domäne {{domain[0]}} - {{domain[1].name}}" }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
{% if mapconfig.globalInfos is defined %}
  "globalInfos": [
{% for globalInfo in mapconfig.globalInfos %}
    { "name": "{{ globalInfo.name }}",
      "iframe": "{{ globalInfo.iframe }}"{% if globalInfo.caption is defined %},
      "caption": "{{ globalInfo.caption }}"{% endif %}

    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
{% endif %}
{% if mapconfig.nodeInfos is defined %}
  "nodeInfos": [
{% for nodeInfo in mapconfig.nodeInfos %}
    { "name": "{{ nodeInfo.name }}",
      "iframe": "{{ nodeInfo.iframe }}"{% if nodeInfo.caption is defined %},
      "caption": "{{ nodeInfo.caption }}"{% endif %}

    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
{% endif %}
  "hwImg": [
    {
      "thumbnail": "/hwpics/{MODELHASH}.svg",
      "caption": "Knoten {MODELHASH}"
    }
  ]
}
