{% set map_domains = [] %}
{% for domain in domaenen|dictsort %}
{% if item == domain[1]['community'] %}
{% if map_domains.append(domain) %}{% endif %}
{% endif %}
{% endfor %}
{
  "dataPath": "/data/map_{% for domain in map_domains %}{{freifunk.kurzname}}d{{domain[0]}}{% if not loop.last %},{% endif %}{% endfor %}/",
  "siteName": "Freifunk {{item}}",
  "mapSigmaScale": 0.5,
  "showContact": false,
  "maxAge": 14,
  "blinkingHours": 8,
  "mapLayers": [
    {
      "name": "OSM Mapnik",
      "url": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      "config": {
        "subdomains": "abc",
        "type": "osm",
        "attribution": "&copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a>",
        "maxZoom": 23,
        "maxNativeZoom": 19
      }
    }
  ],
  "siteNames": [
{% for domain in map_domains %}
    { "site": "{{freifunk.kurzname}}d{{domain[0]}}", "name": "Domäne {{domain[0]}} - {{domain[1].name}}" }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
{% if mapconfig.globalInfos is defined %}
  "globalInfos": [
{% for globalInfo in mapconfig.globalInfos %}
    { "name": "{{ globalInfo.name }}",
      "iframe": "{{ globalInfo.iframe }}"
    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
{% endif %}
{% if mapconfig.nodeInfos is defined %}
  "nodeInfos": [
{% for nodeInfo in mapconfig.nodeInfos %}
    { "name": "{{ nodeInfo.name }}",
      "iframe": "{{ nodeInfo.iframe }}",
      "caption": "{{ nodeInfo.caption }}"
    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
{% endif %}
  "hwImg": [
    {
      "thumbnail": "/hwpics/{MODELHASH}.svg",
      "caption": "Knoten {MODELHASH}"
    }
  ]
}
