[Unit]
Description=Graphite Carbon Cache
After=network.target

[Service]
Type=forking
StandardOutput=syslog
StandardError=syslog
RuntimeDirectory=carbon-cache
ExecStart=/var/lib/graphite/bin/carbon-cache.py --config=/var/lib/graphite/conf/carbon.conf --pidfile=/var/run/carbon-cache/carbon-cache.pid --logdir=/var/log/carbon/ start
PIDFile=/var/run/carbon-cache/carbon-cache.pid

[Install]
WantedBy=multi-user.target
