# {{ ansible_managed }}

{% if ffrl_tun is defined %}
{% for tun in ffrl_tun %}

auto tun-ffrl-{{tun.name}}
iface tun-ffrl-{{tun.name}} inet tunnel
	mode gre
	local {{ansible_default_ipv4.address}}
	endpoint {{tun.gre_target | ipaddr('address') }}
	ttl 255
	address {{ tun.v4_remote | next_nth_usable(1) }}/{{ tun.v4_remote | ipaddr('prefix') }}
	address {{ tun.v6_remote | next_nth_usable(1) }}/{{ tun.v6_remote | ipaddr('prefix') }}
	mtu 1400
{% endfor %}
{% endif %}

{% if ffnw_tun is defined %}
{% for tun in ffnw_tun %}

auto tun-ffnw-{{tun.name}}
iface tun-ffnw-{{tun.name}} inet static
 	mode gre
	local {{ansible_default_ipv4.address}}
	endpoint {{tun.gre_target | ipaddr('address') }}
	ttl 255
	address {{ tun.v4_remote | next_nth_usable(1) }}/{{ tun.v4_remote | ipaddr('prefix') }}
	address {{ tun.v6_remote | next_nth_usable(1) }}/{{ tun.v6_remote | ipaddr('prefix') }}
	mtu 1400
{% endfor %}
{% endif %}
