# {{ ansible_managed }}

auto lo
iface lo inet loopback
{% if ffrl_tun is defined and ffrl_nat_ip is defined %}
        up ip address add {{ ffrl_nat_ip }} dev lo
        up ip rule add from {{ ffrl_nat_ip }} table ffnet
        up ip rule add iif lo table ffnet suppress_prefixlength 0
        up ip -6 rule add iif lo table ffnet suppress_prefixlength 0
{% elif ffnw_tun is defined and ffnw_nat_ip is defined %}
        up ip address add {{ ffnw_nat_ip }} dev lo
        up ip rule add from {{ ffnw_nat_ip }} table ffnet
        up ip rule add iif lo table ffnet suppress_prefixlength 0
        up ip -6 rule add iif lo table ffnet suppress_prefixlength 0
{% else %}
        up ip address add 10.0.0.{{vm_id}} dev lo
        up ip rule add from 10.0.0.{{vm_id}} table ffnet
        up ip rule add iif lo table ffnet suppress_prefixlength 0
        up ip -6 rule add iif lo table ffnet suppress_prefixlength 0
{% endif %}
