# {{ ansible_managed }}

auto lo
iface lo inet loopback
{% if as_ip is defined %}
	address {{ as_ip }}/32
{% endif %}
{% if as_ip6 is defined %}
	address {{ as_ip6 }}/128
{% endif %}
{% if ffrl_tun is defined and ffrl_nat_ip is defined %}
	address {{ ffrl_nat_ip }}
{% elif ffnw_tun is defined and ffnw_nat_ip is defined %}
	address {{ ffnw_nat_ip }}
{% else %}
	address 10.0.0.{{ server_id }}
{% endif %}
