# {{ ansible_managed }}

auto lo
iface lo inet loopback
{% if as_ip is defined %}
       up ip addr add {{ as_ip }}/32 dev $IFACE
{% endif %}
{% if as_ip6 is defined %}
       up ip -6 a a {{ as_ip6 }}/128 dev $IFACE
{% endif %}
{% if ffrl_tun is defined and ffrl_nat_ip is defined %}
        up ip address add {{ ffrl_nat_ip }} dev lo
{% elif ffnw_tun is defined and ffnw_nat_ip is defined %}
        up ip address add {{ ffnw_nat_ip }} dev lo
{% else %}
        up ip address add 10.0.0.{{vm_id}} dev lo
{% endif %}
