# {{ ansible_managed }}

{% for item in groups['monitoring']|default([]) %}

object Host "{{ item }}" {
  import "generic-host"
  address = "{{ hostvars[item].ansible_ssh_host }}"
  check_command = "hostalive"
}

{% endfor %}
