; zonefile for services.{{freifunk.kurzname}}.
$TTL    86400
@       IN      SOA     {{bind_zonemaster.server}}. {{bind_zonemaster.email}}. (
                     {{ansible_date_time.epoch}}         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
;
@			IN      NS      {{bind.ns_name}}.services.{{freifunk.kurzname}}.
{{bind.ns_name}}			IN      A       {{ansible_default_ipv4.address}}
{% if bind.ffms_for_groups is defined and bind.ffms_for_groups.0 is defined %}
{% for group in bind.ffms_for_groups %}
{% if "static_hosts" in hostvars[groups[group][0]] %}
{% for host in hostvars[groups[group][0]].static_hosts %}
{{host.name}}		IN      A       {{host.v4_address}}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
