options {
        directory "/var/cache/bind";

        dnssec-validation auto;
        
        recursion yes;
        allow-recursion { localnets; localhost; };

        notify yes;
	also-notify {
{% for host in groups['gateways'] %}
           {{ hostvars[host]['ansible_ssh_host'] }};
{% if hostvars[host].ffi_nat_ip is defined %}
           {{hostvars[host].ffi_nat_ip | ansible.utils.ipaddr('address')}};
{% endif %}
{% endfor %}
	};
        
        auth-nxdomain no;    # conform to RFC1035
        listen-on-v6 { any; };
};
