{% for domain in domains %}
zone "{{domain}}." IN {
	type master;
	file "/etc/bind/db.{{domain}}";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
	   {{hostvars[host].ipv4 }};
{% endfor %}
	};
};
zone "servers.{{domain}}." IN {
	type master;
	file "/etc/bind/db.servers.{{domain}}";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
           {{hostvars[host].ipv4 }};
{% endfor %}
	};
};
zone "services.{{domain}}." IN {
	type master;
	file "/etc/bind/db.services.{{domain}}";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
           {{hostvars[host].ipv4 }};
{% endfor %}
	};
};
zone "knoten.{{domain}}." IN {
	type master;
	file "/etc/bind/db.knoten.{{domain}}";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
           {{hostvars[host].ipv4 }};
{% endfor %}
	};
};
{% endfor %}
