; zonefile for freifunk-muenster.de.
$TTL    86400
@       IN      SOA     freifunk-muenster.de. root.freifunk-muenster.de. (
                     {{ansible_date_time.epoch}}         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
{% set i = [1] %}
{% for host in groups['backbone'] %}
@	IN      NS      ns{{i[0]}}
ns{{i[0]}}	IN 	A	{{hostvars[host].ansible_ssh_host }}
{% if i.append(i.pop() + 1) %}{% endif %}
{% endfor %}

;GW01
fanlin                          A       89.163.221.125 
fanlin                          AAAA    2001:4ba0:fff1:49::2

;GW02
fusselkater                     A       37.120.168.53
fusselkater                     AAAA    2a03:4000:6:500e::1

;GW03
commander1024                   A       176.9.88.123
commander1024                   AAAA    2a01:4f8:150:8ff8::5

;GW04
parad0x                         A       5.9.67.189
parad0x                         AAAA    2a01:4f8:161:72a8::c:1
