; zonefile for servers.freifunk-muensterland.de.
$TTL    86400
@       IN      SOA     servers.freifunk-muensterland.de. info.freifunk-muensterland.de. (
                     {{ansible_date_time.epoch}}         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
;
{% for group in bind.ffms_for_groups %}
{% for host in groups[group] %}
{{host}}	IN      A       {{hostvars[host].ansible_ssh_host}};
{% endfor %}
{% endfor %}
{% for host in groups['backbone'] %}
{{host}}	IN      A       {{hostvars[host].ansible_ssh_host}};
{% endfor %}

