{% for group in bind.ffms_for_groups -%}

#view for (broadcast-)domain {{group}}   
view "{{group}}" {
	match-clients {
		{{hostvars[groups[group][0]].ff_network.v4_network}};
		{{hostvars[groups[group][0]].ff_network.v6_network}};
	};
	include "/etc/bind/named.conf.local";
	include "/etc/bind/named.conf.default-zones";
	zone "ffms." {
		type master;
		file "/etc/bind/db.{{group}}.ffms";
		allow-transfer {
			{{hostvars[groups[group][0]].ff_network.v4_network | ipsubnet(28,0)}};
		};
	};
	zone "servers.ffms." {
		type master;
		file "/etc/bind/db.servers.ffms";
		allow-transfer {
			{{hostvars[groups[group][0]].ff_network.v4_network | ipsubnet(28,0)}};
		};
	};
	zone "services.ffms." {
		type master;
		file "/etc/bind/db.services.ffms";
		allow-transfer {
			{{hostvars[groups[group][0]].ff_network.v4_network | ipsubnet(28,0)}};
		};
	};
};
{% endfor %}

#fallback/legacy view
view "external-view" {
	match-clients {
		any;
{% for group in bind.ffms_for_groups %}
		!{{hostvars[groups[group][0]].ff_network.v4_network}};
		!{{hostvars[groups[group][0]].ff_network.v6_network}};
{% endfor %}
	};
	include "/etc/bind/named.conf.local";
	include "/etc/bind/named.conf.default-zones";
};
