# This file is managed by ansible, don't make changes here - they will be overwritten.
log syslog { debug, trace, info, remote, warning, error, auth, fatal, bug };
router id {{ vm_id }};
{#router id {{ff_network.v4_network | ipaddr(server_id) | ipaddr('address') }};#}

table ffnet;

#
# namen hinter protokollen definiene auch die symbole
#
protocol kernel 'kernel_ffnet' {
        scan time 20;
        import all;
        export all;
        table ffnet;
        kernel table 42;
        device routes;
};

protocol radv {
{% for domaene in domaenenliste|dictsort %}
	interface "bat{{domaene[0]}}" {
		max ra interval 20;
		link mtu 1280;
		prefix {{domaenen[domaene[0]].ffv6_network}} {
		};
	};
{% endfor %}
	rdnss {
{% for domaene in domaenenliste|dictsort %}
		ns {{domaenen[domaene[0]].ffv6_network | ipaddr(domaene[1].server_id) | ipaddr('address') }};
{% endfor %}
	};
};


protocol bfd {
        table ffnet;
        interface "gre*" {
        };
        multihop {
        };
};

protocol device {
        scan time 10;
};

protocol ospf {
	table ffnet;
	import all;
	export none;
	area 0.0.0.0 {
		interface "bat*" {
		};
		interface "gre-*" {
		};
	};
};

protocol kernel 'kernel_master' {
        scan time 20;
        table master;
        kernel table 254;
        import all;
        export all;
};

protocol static {
        table master;
        import all;
        export none;
};
