 {{ ansible_managed }}

log syslog { debug, trace, info, remote, warning, error, auth, fatal, bug };
{% if 'as_router' in groups and 'as_router' in group_names %}
router id {{ as_ip }};
{% else %}
router id { vm_id }};
{% endif %}

table ffnet;

filter freifunk {
	if net ~ {{ff_network.v6_network}} then accept;
{% if as_parameters is defined %}
	if net ~ [{{ as_parameters.v6_network }}+] then accept;
{% endif %}
{% if not ffrl_tun is defined and ('as_router' in groups and 'as_router' not in group_names) %}
	if net ~ [::/0] then accept;
{% endif %}
	reject;
}

protocol kernel 'kernel_ffnet' {
	scan time 20;
	import all;
	export all;
	table ffnet;
	kernel table {% if 'as_router' in group_names %}42{% else %}254{% endif %};
	device routes;
	persist;
};

{% if domaenenliste is defined %}
protocol radv {
{% for domaene in domaenenliste|dictsort %}
	interface "bat{{domaene[0]}}" {
		max ra interval 20;
		link mtu 1280;
		prefix {{domaenen[domaene[0]].ffv6_network}} {
		};
{% for prefix in domaenen[domaene[0]].ffv6_additional_networks %}
		prefix {{prefix}} {
		};
{% endfor %}
		rdnss {
			ns {{domaenen[domaene[0]].ffv6_network | ipaddr(domaene[1].server_id) | ipaddr('address') }};
		};
	};
{% endfor %}
};
{% endif %}


protocol bfd {
	table ffnet;
	interface "gre*";
	interface "bck*";
	multihop {
		passive;
	};
};

protocol device {
	scan time 10;
};

protocol ospf {
	table ffnet;
	import filter freifunk;
	export all;
	area 0.0.0.0 {
		interface "bat*" {
			stub;
		};
{% for host in groups['gateways']|default([]) %}
{% if hostvars[host].hoster|default('unknown') != hoster|default('unknown') %}
		interface "bck-{{host}}" {
			cost 1000;
		};
{% endif %}
{% endfor %}
{% if additional_ospf_interfaces is defined %}
{% for ospf_interface in additional_ospf_interfaces %}
		interface "{{ospf_interface.interface}}" {
			cost {{ospf_interface.cost}};
		};
{% endfor %}
{% endif %}
		interface "bck-*";
		interface "lo" {
			stub;
		};
	};
};

function is_default() {
	return (net ~ [::/0]);
};

filter export_to_upstream_filter {
	if source = RTS_STATIC then accept;
	reject;
};

protocol static static_Gesamtnetzwerk {
	table ffnet;
	route {{ff_network.v6_network}} reject;
{% if as_parameters is defined %}
	route {{as_parameters.v6_network}} reject;
{% endif %}
};

{% if domaenenliste is defined %}
{% for domaene in domaenenliste|dictsort %}
protocol static static_domaene{{domaene[0]}} {
	table ffnet;
	route {{domaenen[domaene[0]].ffv6_network | regex_replace('..::/\d+$','00::/56')}} reject {
		ra_preference = RA_PREF_HIGH;
	};
{% for prefix in domaenen[domaene[0]].ffv6_additional_networks %}
	route {{prefix}} reject {
		ra_preference = RA_PREF_MEDIUM;
	};
{% endfor %}
};
{% endfor %}
{% endif %}
{% if dhcp is defined %}
protocol static 'static_{{inventory_hostname_short}}' {
	table ffnet;
	route {{ff_network.v6_network | regex_replace('..::/\d+$','00::/56')}} reject;
};
{% endif %}

protocol direct {
	interface "lo";
{% if ffrl_tun is defined %}
	interface "tun-ffrl*";
{% endif %}
	interface "gre-*";
	interface "bck-*";
	interface "bat*";
	table ffnet;
}

template bgp internal {
	table ffnet;
	local as {{as_parameters.as_number}};
	import filter {
		if is_default() then
			preference = 99;
		else
			preference = 160;
		accept;
	};
	export filter {
		if source = RTS_BGP then accept;
{% if ffrl_tun is not defined %}
		if source = RTS_STATIC then accept;
{% endif %}
		else reject;
	};
	gateway direct;
	direct;
	next hop self;
};

{% for host in groups['gateways']|default([]) %}
{% if hostvars[host].vm_id != vm_id %}
protocol bgp ibgp_{{host|regex_replace('-','_')}} from internal {
{% if hostvars[host].vm_id < vm_id %}
	neighbor 2a03:2260:115:ffa1::{{hostvars[host].vm_id}}:{{vm_id}}:1 as {{as_parameters.as_number}};
{% else %}
	neighbor 2a03:2260:115:ffa1::{{vm_id}}:{{hostvars[host].vm_id}}:0 as {{as_parameters.as_number}};
{% endif %}
{% if hostvars[host].hoster|default('unknown') != hoster|default('unknown') %}
	import filter {
		preference = 50;
		accept;
	};
{% endif %}
}

{% endif %}
{% endfor %}

template bgp uplink {
	table ffnet;
	local as {{as_parameters.as_number}};
	import where is_default();
	export filter export_to_upstream_filter;
	gateway recursive;
}
{% if ffrl_tun is defined %}

{% for tun in ffrl_tun %}
protocol bgp ffrl_{{tun.name}} from uplink {
	description "Rheinland Backbone";
	source address {{ tun.v6_remote | next_nth_usable(1) }};
	neighbor {{tun.v6_remote | ipaddr('address')}} as 201701;
};

{% endfor %}
{% endif %}

{% if ffnw_tun is defined %}
{% for tun in ffnw_tun %}
protocol bgp ffnw_{{tun.name}} from uplink {
        description "Nordwest Backbone";
        neighbor {{tun.v6_remote | ipaddr('address')}}%'tun-ffnw-{{tun.name}}' as 206313;
	import filter {
		reject;
	};
	export filter {
		reject;
	};
};

{% endfor %}
{% endif %}

{% if 'as_router' in groups and 'as_router' in group_names %}
include "bird6_as.conf";
{% endif %}
