# This file is managed by ansible, don't make changes here - they will be overwritten.
log syslog { debug, trace, info, remote, warning, error, auth, fatal, bug };
router id {{ vm_id }};

table ffnet;

filter freifunk {
	if net ~ {{ff_network.v6_network}} then accept;
{% if not ffrl_tun is defined %}
	if net ~ [::/0] then accept;
{% endif %}
	reject;
}

protocol kernel {
	scan time 20;
	import all;
	export all;
	table ffnet;
	kernel table 42;
	device routes;
	persist;
};

{% if domaenenliste is defined %}
protocol radv {
{% for domaene in domaenenliste|dictsort %}
	interface "bat{{domaene[0]}}" {
		max ra interval 20;
		link mtu 1280;
		prefix {{domaenen[domaene[0]].ffv6_network}} {
		};
		rdnss {
			ns {{domaenen[domaene[0]].ffv6_network | ipaddr(domaene[1].server_id) | ipaddr('address') }};
		};
		dnssl "{{freifunk.search_domain}}";
	};
{% endfor %}
};
{% endif %}


protocol bfd {
	table ffnet;
	interface "gre*";
	interface "bck*";
	multihop {
		passive;
	};
};

protocol device {
	scan time 10;
};

protocol ospf {
	table ffnet;
	import filter freifunk;
	export all;
	area 0.0.0.0 {
		interface "bat*" {
			stub;
		};
{% if ffms_tun_to is defined %}
{% for host in ffms_tun_to %}
{% if "cost" in  host %}
        interface "gre-{{host.host_name}}" {
            cost {{host.cost}};
        };
{% else %}
        interface "gre-{{host.host_name}}";
{% endif %}
{% endfor %}
{% endif %}
{% for host in groups['gateways'] %}
{% if 'ffms_tun_to' in hostvars[host] %}
{% for link in hostvars[host].ffms_tun_to%}
{% if 'host_name' in link and link.host_name == inventory_hostname %}
{% if "cost" in  link %}
        interface "gre-{{host}}" {
            cost {{link.cost}};
        };
{% else %}
        interface "gre-{{host}}";
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
		interface "bck-*";
{% if ffrl_tun is defined %}
		interface "lo" {
			stub;
		};
{% endif %}
	};
};

function is_default() {
	return (net ~ [::/0]);
}

{% if ffrl_tun is defined %}
filter hostroute {
{% for domaene in domaenen|dictsort %}
{% set step = 0 %}
{% if ffms_tun_to is defined %}
{% for host in ffms_tun_to %}
{% if 'domaene-'+domaene[0] in hostvars[host.host_name].group_names and step == 0 %}
	if net ~ {{hostvars[host.host_name].ff_network.v6_network | regex_replace('..::/\d+$','00::/56')}} then accept;
{% set step = 1 %}
{% endif %}
{% if "domaenenliste" in hostvars[host.host_name] and domaene[0] in hostvars[host.host_name].domaenenliste and step == 0 %}
	if net ~ {{domaene[1].ffv6_network | regex_replace('..::/\d+$','00::/56')}} then accept;
{% set step = 1 %}
{% endif %}
{% endfor %}
{% endif %}
{% if domaenenliste is defined and domaene[0] in domaenenliste and step == 0 %}
	if net ~ {{domaene[1].ffv6_network | regex_replace('..::/\d+$','00::/56')}} then accept;
{% endif %}
{% endfor %}
	reject;
}

{% for domaene in domaenen|dictsort %}
{% if ffms_tun_to is defined %}
{% set iterated = false %}
{% for host in ffms_tun_to if iterated == false %}
{% if 'domaene-'+domaene[0] in hostvars[host.host_name].group_names and not (domaenenliste is defined and domaene[0] in domaenenliste) %}
{% set iterated = true %}
protocol static static_domaene{{domaene[0]}} {
	table ffnet;
	route {{hostvars[host.host_name].ff_network.v6_network | regex_replace('..::/\d+$','00::/56')}} reject;
}

{% elif "domaenenliste" in hostvars[host.host_name] and domaene[0] in hostvars[host.host_name].domaenenliste and not (domaenenliste is defined and domaene[0] in domaenenliste) %}
{% set iterated = true %}
protocol static static_domaene{{domaene[0]}} {
	table ffnet;
	route {{domaene[1].ffv6_network | regex_replace('..::/\d+$','00::/56')}} reject;
}

{% endif %}
{% endfor %}
{% endif %}
{% if domaenenliste is defined and domaene[0] in domaenenliste%}
protocol static static_domaene{{domaene[0]}} {
	table ffnet;
	route {{domaene[1].ffv6_network | regex_replace('..::/\d+$','00::/56')}} reject;
}

{% endif %}
{% endfor %}
{% endif %}

protocol kernel 'kernel_master' {
	scan time 20;
	table master;
	kernel table 254;
	import all;
	export all;
	persist;
};

protocol static {
	table master;
	import all;
	export none;
};

protocol direct {
	interface "lo";
	interface "tun-*";
	interface "gre-*";
	interface "bck-*";
	interface "bat*";
	table ffnet;
}

{% if ffrl_tun is defined %}
template bgp internal {
	table ffnet;
	local as {{ff_network.as_number}};
	import filter {
		preference = 99;
		accept;
	};
	export where source = RTS_BGP;
	gateway direct;
	direct;
	next hop self;
};

template bgp uplink {
	table ffnet;
	local as {{ff_network.as_number}};
	import where is_default();
	export filter hostroute;
	gateway recursive;
}

{% for tun in ffrl_tun %}
protocol bgp ffrl_{{tun.name}} from uplink {
	description "Rheinland Backbone";
	source address {{ tun.v6_remote | ipaddr('2') | ipaddr('address') }};
	neighbor {{tun.v6_remote | ipaddr('address')}} as 201701;
};

{% endfor %}

{% for host in groups['gateways'] %}
{% if 'ffrl_tun' in hostvars[host] and hostvars[host].vm_id != vm_id %}
protocol bgp ibgp_{{host|regex_replace('-','_')}} from internal {
{% if hostvars[host].vm_id < vm_id %}
	neighbor 2a03:2260:115:ffa1::{{hostvars[host].vm_id}}:{{vm_id}}:1 as {{ff_network.as_number}};
{% else %}
	neighbor 2a03:2260:115:ffa1::{{vm_id}}:{{hostvars[host].vm_id}}:0 as {{ff_network.as_number}};
{% endif %}
}

{% endif %}
{% endfor %}
{% endif %}
