{% set index = item[0]| int -%}
{% set index = index + 38 -%}
{
	domain_names = {
		dom{{item[0]}} = 'Domäne {{item[0]}} - {{item[1].name}}'
	},
	domain_seed = 'ff481430000000000000000000000000000000000000000000000000000000{{item[0]}}',

	prefix4 = '{{item[1].ffv4_network}}',
	prefix6 = '{{item[1].ffv6_network}}',
	extra_prefixes6 = { 
{% for v6item in item[1].ffv6_additional_networks %}
		'{{ v6item }}'{% if not loop.last %}, {% endif %}
{% endfor %}

	},

	next_node = {
		name = { 'knoten', },
		ip4 = '{{ item[1].ffv4_network | ansible.utils.ipv4('1') | ansible.utils.ipv4('address') }}',
		ip6 = '{{ item[1].ffv6_network | ansible.utils.ipv6('1') | ansible.utils.ipv6('address') }}',
		mac = 'de:ad:be:ef:08:01',
	},

	wifi24 = {
		ap = {
 			ssid = "Freifunk",
			owe_ssid = "Freifunk-OWE",
			owe_transition_mode = true,
		},
		mesh = {
			id = '02:d1:11:37:{% if index < 100 %}fc:{{index}}{% else %}f1:{{"%02d" | format(index - 100)}}{% endif %}',
		},
	},
	wifi5 = {
		ap = {
 			ssid = "Freifunk",
			owe_ssid = "Freifunk-OWE",
			owe_transition_mode = true,
		},
		mesh = {
			id = '02:d1:11:37:{% if index < 100 %}fc:{{index}}{% else %}f1:{{"%02d" | format(index - 100)}}{% endif %}',
		},
	},

	mesh = {
		vxlan = false,
	},

        dns = {
                -- cacheentries = 20000,
		servers = { 
			'{{ item[1].ffv6_network | ansible.utils.ipv6('2') | ansible.utils.ipv6('address') }}',
			'{{ item[1].ffv6_network | ansible.utils.ipv6('3') | ansible.utils.ipv6('address') }}', 
{% for v6dns in item[1].ffv6_additional_networks %}
			'{{ v6dns | ansible.utils.ipv6('2') | ansible.utils.ipv6('address') }}',
			'{{ v6dns | ansible.utils.ipv6('3') | ansible.utils.ipv6('address') }}'{% if not loop.last %}, {% endif %}
{% endfor %}

		},
        },

	mesh_vpn = {
		fastd = {
			groups = {
				backbone = {
					peers = {
						gw_a = {
							key = '{{ fastd_keys[item[0]].gateway_a.public }}',
							remotes = {
								'"domaene{{item[0]}}-a.servers.freifunk-muensterland.de" port 211{{item[0]}}',
								'"domaene{{item[0]}}-a.servers.freifunk-muensterland.net" port 211{{item[0]}}',
								'"domaene{{item[0]}}-a.servers.freifunk-muensterland.org" port 211{{item[0]}}',
							},
						},
						gw_b = {
							key = '{{ fastd_keys[item[0]].gateway_b.public }}',
							remotes = {
								'"domaene{{item[0]}}-b.servers.freifunk-muensterland.de" port 211{{item[0]}}',
								'"domaene{{item[0]}}-b.servers.freifunk-muensterland.net" port 211{{item[0]}}',
								'"domaene{{item[0]}}-b.servers.freifunk-muensterland.org" port 211{{item[0]}}',
							},
						},
						gw_c = {
							key = '{{ fastd_keys[item[0]].gateway_c.public }}',
							remotes = {
								'"domaene{{item[0]}}-c.servers.freifunk-muensterland.de" port 211{{item[0]}}',
								'"domaene{{item[0]}}-c.servers.freifunk-muensterland.net" port 211{{item[0]}}',
								'"domaene{{item[0]}}-c.servers.freifunk-muensterland.org" port 211{{item[0]}}',
							},
						},
						gw_d = {
							key = '{{ fastd_keys[item[0]].gateway_d.public }}',
							remotes = {
								'"domaene{{item[0]}}-d.servers.freifunk-muensterland.de" port 211{{item[0]}}',
								'"domaene{{item[0]}}-d.servers.freifunk-muensterland.net" port 211{{item[0]}}',
								'"domaene{{item[0]}}-d.servers.freifunk-muensterland.org" port 211{{item[0]}}',
							},
						},
					},
				},
			},
		},
	},
}
