; zonefile for ffms. for external
$TTL    86400
@       IN      SOA     ffms. root.ffms. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
;
@			IN      NS      {{bind.ns_name}}.ffms.
{{bind.ns_name}}			IN      A       {{ff_network.v4_network | ipaddr(server_id) | ipaddr('address') }}
firmware	IN      A       144.76.30.226
firmware	IN      AAAA    2a01:4f8:191:21e1::23
{% if bind.ffms_gw == True%}
{% for group in bind.ffms_for_groups %}
{% for host in groups[group] %}
{{host}}.gw	IN      A       {{hostvars[host].ff_network.v4_network | ipaddr(hostvars[host].server_id) | ipaddr('address') }};
{{host}}.gw	IN      AAAA    {{hostvars[host].ff_network.v6_network | ipaddr(hostvars[host].server_id) | ipaddr('address') }};
{% endfor %}
{% endfor %}
{% endif %}
{% if bind.ffms_bb == True%}
{% for host in groups['backbone'] %}
{{host}}.bb	IN      A       {{hostvars[host].ff_network.v4_network | ipaddr(hostvars[host].server_id) | ipaddr('address') }};
{{host}}.bb	IN      AAAA    {{hostvars[host].ff_network.v6_network | ipaddr(hostvars[host].server_id) | ipaddr('address') }};
{% endfor %}
{% endif %}

