; zonefile for services.ffms.
$TTL    86400
@       IN      SOA     services.ffms. root.services.ffms. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
;
@			IN      NS      {{bind.ns_name}}.services.ffms.
{{bind.ns_name}}			IN      A       {{ff_network.v4_network | ipaddr(server_id) | ipaddr('address') }}
{% if bind.ffms_services == True %}
{% for group in bind.ffms_for_groups %}
{% if "static_hosts" in hostvars[groups[group][0]] %}
{% for host in hostvars[groups[group][0]].static_hosts %}
{{host.name}}		IN      A       {{host.v4_address}}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
