// This file is managed by ansible, don't make changes here - they will be overwritten.
// This is the primary configuration file for the BIND DNS server named.
//
// Please read /usr/share/doc/bind9/README.Debian.gz for information on the 
// structure of BIND configuration files in Debian, *BEFORE* you customize 
// this configuration file.
//
// If you are just adding zones, please do that in /etc/bind/named.conf.local
include "/etc/bind/named.conf.options";
{% if bind.ffms_zone_type == "master" or bind.ffms_zone_type == "slave" %}
include "/etc/bind/named.conf.ffms";
{% else %}
include "/etc/bind/named.conf.local";
include "/etc/bind/named.conf.default-zones";
{% endif %}