
     ///////  ///////  ////   ////    /////////
    //       //       // //  // //     ///
   ///////  ///////  //  // //  //       ////
  //       //       //    ///   //         ///
 //       //       //     //    //   /////////
 
 Freifunk Münsterland 
 
 Server:  {{ ansible_hostname }}
 Besitzer: {{ server_besitzer }}

 Öffentliche IPs: {{ansible_eth0.ipv4.address}} / {{ansible_eth0.ipv6[0].address}}
 Freifunk IP:     {{ff_network.v4_network | ipaddr(server_id) | ipaddr('address') }} / {{ff_network.v6_network | ipaddr(server_id) | ipaddr('address') }}

 Domäne: {{ group_names }}

