
     ///////  ///////  ////   ////    /////////
    ///////  ///////  // //  // //     ///
   //       //       //  // //  //       ////
  //       //       //    ///    //        ///
 //       //       //     //     //  /////////
 
 Freifunk Muensterland 
 
 Server:  So ein Server  
 Owner:   koennte FanLin sein 

 Public IP: 333.525.23.123 / GG::fe4b::3
 FF     IP: 10.43.333.333 / ....

 
