 This system is managed by Ansible.
 {{ figlethost.stdout }}

 {{ freifunk.name }}

 OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
 Hostname    : {{ ansible_hostname }}
 IP address  : {{ ansible_default_ipv4.address }}
 System type : {{ ansible_system }}
 Kernel      : {{ ansible_kernel }}

  
 Server:  {{ inventory_hostname }}
 Besitzer: {{ server_besitzer }}

 Öffentliche IPs: {{ansible_eth0.ipv4.address}} / {{ansible_eth0.ipv6[0].address}}
{% if domaenenliste is defined %}
{% for domaene in domaenenliste|dictsort %}
 Domäne-{{domaene[0]}}: {{domaenen[domaene[0]].ffv4_network | ipaddr(domaene[1].server_id) | ipaddr('address') }} / {{domaenen[domaene[0]].ffv6_network | ipaddr(domaene[1].server_id) | ipaddr('address') }}
{% endfor %}
{% elif group_names[0].startswith('domaene-') %}
 Freifunk IP:     {{ff_network.v4_network | ipaddr(server_id) | ipaddr('address') }} / {{ff_network.v6_network | ipaddr(server_id) | ipaddr('address') }}

 Domäne: {{ group_names | last }}
{% else %}
 Aufgabe: {{ group_names | last }}
{% endif %}

