# {{ ansible_managed }}

{% for item in domaenenliste|dictsort %}
auto br{{item[0]}}
iface br{{item[0]}} inet manual
	bridge-ports none
{% if item[0] | length > 2 %}
	hwaddress 02:ca:ff:{{item[0][0:2]}}:{{item[0][2:]}}:{{item[1].server_id}}
{% else %}
	hwaddress 02:ca:ff:ee:{{item[0]}}:{{item[1].server_id}}
{% endif %}
	mtu 1364
	pre-up ip link set $IFACE promisc on
	post-up ebtables -A FORWARD --logical-in $IFACE -j DROP
	pre-down ebtables -D FORWARD --logical-in $IFACE -j DROP

{% endfor %}
