[Unit]
Description=The node-respondd server provides data about this node to the local network.

[Service]
Type=simple
WorkingDirectory=/opt/node-respondd
ExecStart=/opt/node-respondd/respondd config{{item}}.json

[Install]
WantedBy=multi-user.target