[Unit]
Description=Respondd
After=network.target

[Service]
ExecStart=/opt/mesh-announce/respondd.py -d /opt/mesh-announce/providers {{ domaenenliste.keys() | map('regex_replace', '^(.*)$', '-i br\\1 -i bat\\1 -b bat\\1') | join(" ") }}
Restart=on-failure
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
