module.exports = function () {
  return {
    // Variables are NODE_ID and NODE_NAME (only a-z0-9\- other chars are replaced with _)
    'nodeInfos': [
      {
        'name': 'Clientstatistik',
        'href': 'https://grafana.{{freifunk.domain}}/d/000000021/advanced-node-stats?orgId=1&var-node={NODE_ID}',
        'image': 'https://grafana.{{freifunk.domain}}/render/d-solo/000000021/advanced-node-stats?var-node={NODE_ID}&panelId=1&theme=light&from=now-24h&to=now&width=650&height=350',
        'title': 'Knoten {NODE_ID} - weiteren Statistiken'
      },
      {
        'name': 'Trafficstatistik',
        'href': 'https://grafana.{{freifunk.domain}}/d/000000021/advanced-node-stats?orgId=1&var-node={NODE_ID}',
        'image': 'https://grafana.{{freifunk.domain}}/render/d-solo/000000021/advanced-node-stats?var-node={NODE_ID}&panelId=2&theme=light&from=now-24h&to=now&width=650&height=350',
        'title': 'Knoten {NODE_ID} - weiteren Statistiken'
      }
    ],
    // Array of data provider are supported
    'dataPath': [
      ''
    ],
    'fred': {
      // Fred Data provider
      'dataPath': [
        'https://fredbackend.ffmsl.de/api/v1/networks'
      ],
      'minZoom': 8
    },
    'siteName': 'Freifunk Münsterland',
    'mapLayers': [
      {
        'name': 'OpenStreetMap.Mapnik',
        'url': 'https://karte.freifunk-muensterland.de/tiles_cache/osm_mapnik/{z}/{x}/{y}.png',
        'config': {
          'maxZoom': 19,
          'attribution': '&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a>'
        }
      },
      {
        'name': 'Freifunk Regensburg',
        // Please ask Freifunk Regensburg before using its tile server c- example with retina tiles
        'url': 'https://{s}.tiles.ffrgb.net/{z}/{x}/{y}{retina}.png',
        'config': {
          'maxZoom': 20,
          'subdomains': '1234',
          'attribution': '<a href="http://www.openmaptiles.org/" target="_blank">&copy; OpenMapTiles</a> <a href="http://www.openstreetmap.org/about/" target="_blank">&copy; OpenStreetMap contributors</a>',
        }
      },
      {
        'name': 'Freifunk Regensburg Night',
        // Please ask Freifunk Regensburg before using its tile server - example with retina and dark tiles
        'url': 'https://{s}.tiles.ffrgb.net/n/{z}/{x}/{y}{retina}.png',
        'config': {
          'maxZoom': 20,
          'subdomains': '1234',
          'attribution': ' <a href="http://www.openmaptiles.org/" target="_blank">&copy; OpenMapTiles</a> <a href="http://www.openstreetmap.org/about/" target="_blank">&copy; OpenStreetMap contributors</a>',
          'mode': 'night',
        }
      },
      {
        'name': 'OpenStreetMap.HOT',
        'url': 'https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png',
        'config': {
          'maxZoom': 19,
          'attribution': '&copy; Openstreetmap France | &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }
      },
      {
        'name': 'HERE',
        // Please use your own API key - Free plan is on right side after the pay plans
        'url': 'https://{s}.base.maps.api.here.com/maptile/2.1/maptile/newest/normal.day/{z}/{x}/{y}/256/png8?app_id=YOUR_KEY&app_code=YOUR_CODE&lg=deu',
        'config': {
          'attribution': 'Map &copy; 1987-2014 <a href="http://developer.here.com">HERE</a>',
          'subdomains': '1234',
          'maxZoom': 20
        }
      },
      {
        'name': 'Esri.WorldImagery',
        'url': '//server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
        'config': {
          'maxZoom': 20,
          'attribution': 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        }
      },
      {
        'name': 'HERE.hybridDay',
        // Please use your own API key - Free plan is on right side after the pay plans
        'url': 'https://{s}.aerial.maps.api.here.com/maptile/2.1/maptile/newest/{variant}/{z}/{x}/{y}/256/png8?app_id=YOUR_KEY&app_code=YOUR_CODE&lg=deu',
        'config': {
          'attribution': 'Map &copy; 1987-2014 <a href="http://developer.here.com">HERE</a>',
          'subdomains': '1234',
          'variant': 'hybrid.day',
          'maxZoom': 20
        }
      }
    ],
    // Set a visible frame
    'fixedCenter': [
      // Northwest
      [
        52.3579,
        6.6508
       ],
       // Southeast
       [
        51.2705,
        9.0252
      ]
    ],
    'domainNames': [
{% for domaene in domaenen|dictsort %}
      {
        'domain': '{{freifunk.kurzname}}d{{domaene[0]}}',
        'name': 'Domäne {{domaene[0]}} - {{domaene[1].name}}' 
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ]
  };
};

