#!/bin/sh
cat << 'EOF'
 This system is managed by Ansible.
{% if figlethost.stdout is defined %} {{ figlethost.stdout }} {% endif %}

 {{ freifunk.name }}
EOF
echo " "
echo " OS          : $(lsb_release -d -s) $(lsb_release -c -s)"
echo " Hostname    : $(hostname)"
echo " FQDN        : $(hostname --fqdn)"
echo " IP address  : $(hostname -I | cut -d' ' -f1){% if ansible_default_ipv6.address is defined %} / {{ ansible_default_ipv6.address }}{% endif %}"
echo " DNS         : $(cat /etc/resolv.conf | grep ^nameserver | awk '{print $2}' | tr '\r\n' ' ')"
echo " Gateway     : $(ip -o -4 route show to default | awk '{print $3}')"
echo " System type : $(uname -s) $(uname -m)"
echo " Kernel      : $(uname -r)"
echo " Uptime      : $(uptime -p)"
echo " "
{% if server_aufgabe is defined %}
echo " Aufgabe     : {{ server_aufgabe }}"
{% else %}
echo " " 
{% endif %}
echo " Besitzer    : {{ server_besitzer }}"
{% if hoster is defined %}
echo " Hoster      : {{ hoster }}"
{% else %}
echo " " 
{% endif %}
cat << 'EOF'

{% if ffnw_nat_ip is defined %}
 FFNW-NAT-IP : {{ffnw_nat_ip}}
{% endif %}
{% if ffrl_nat_ip is defined %}
 FFRL-NAT-IP : {{ffrl_nat_ip}}
{% endif %}
{% if ffi_nat_ip is defined %}
 FFI-NAT-IP : {{ffi_nat_ip}}
{% endif %}

{% if domaenenliste is defined %}
{% for domaene in domaenenliste|dictsort %}
 Domäne-{{domaene[0]}} -> {{domaenen[domaene[0]].ffv4_network | ipaddr(domaene[1].server_id) | ipaddr('address') }} | {{domaenen[domaene[0]].ffv6_ffi_network | ipaddr(domaene[1].server_id) | ipaddr('address') }} | {{domaenen[domaene[0]].ffv6_ffrl_network | ipaddr(domaene[1].server_id) | ipaddr('address') }}
{% endfor %}
{% elif group_names[0].startswith('domaene-') %}
 Freifunk IP:     {{ff_network.v4_network | ipaddr(vm_id) | ipaddr('address') }} / {{ff_network.v6_network | ipaddr(vm_id) | ipaddr('address') }}

 Domäne: {{ group_names | last }}
{% endif %}
EOF
