; zonefile for freifunk-muensterland.de.
$TTL    3600
@       IN      SOA     service.freifunk-muensterland.de. info.freifunk-muensterland.de. (
                     {{ansible_date_time.epoch}}         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
{% set i = [1] %}
{% for host in groups['backbone']+groups['gateways'] %}
{% if 'is_external_nameserver' in hostvars[host] and hostvars[host].is_external_nameserver %}
@	IN      NS      ns{{i[0]}}
ns{{i[0]}}	IN 	A	{{hostvars[host].ansible_ssh_host }}
{% if i.append(i.pop() + 1) %}{% endif %}
{% endif %}
{% endfor %}
@	IN      A       89.163.231.227
@	IN	MX	10 mail.warpzone.ms.
www	IN      A       89.163.231.227
service IN	A	89.163.231.228
karte	IN	A       89.163.231.228
graphite IN	A       89.163.231.228
imap    IN	CNAME   mail.warpzone.ms.
pop3    IN	CNAME   mail.warpzone.ms.
smtp    IN	CNAME   mail.warpzone.ms.
*	IN	MX  20  mail.warpzone.ms.
mailvax      IN    A    212.47.250.87
forum        IN	   A	  212.47.229.243
forum        IN    AAAA 2001:bc8:4400:2100::f:51d
forum	       IN    MX   10    mailvax.freifunk-muensterland.de.
forum	       IN	   TXT  "v=spf1 mx a a:mailvax.freifunk-muensterland.de ~all"
dkim._domainkey.forum IN   TXT  "v=DKIM1; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQD0g9Z8f0fMkNHyZWYi78MNEq8Zbp48kLanYLBNznwAZS8AkpWuPsrW68hx4KcCiNN0OiXVIwoNqHCJVPUxNPwUMLksmcHt9UfJ5Ow5izJfhb13GmRYWo+7jXFMG23wfseEMKtH5hKqvdl3Xc1wxq4HWLGJWQRcX4xyYxmoJ3gI0wIDAQAB"
firmware IN	A       144.76.30.226
firmware IN	AAAA    2a01:4f8:191:21e1::23
;authentication for mailchimp (newsletter distribution)
k1._domainkey IN CNAME dkim.mcsv.net.
@ IN TXT    "v=spf1 include:servers.mcsv.net ?all"
