; zonefile for freifunk-muensterland.de.
$TTL    86400
@       IN      SOA     service.freifunk-muensterland.de. info.freifunk-muensterland.de. (
                     {{ansible_date_time.epoch}}         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
{% set i = [1] %}
{% for host in groups['backbone'] %}
@	IN      NS      ns{{i[0]}}
ns{{i[0]}}	IN 	A	{{hostvars[host].ansible_ssh_host }}
{% if i.append(i.pop() + 1) %}{% endif %}
{% endfor %}
@	IN      A       89.163.231.227
@	IN	MX	10 mail.warpzone.ms.
www	IN      A       89.163.231.227
service IN	A	89.163.231.228
karte	IN	A       89.163.231.228
graphite IN	A       89.163.231.228
forum   IN	A	212.47.229.243
imap    IN	CNAME   mail.warpzone.ms.
pop3    IN	CNAME   mail.warpzone.ms.
smtp    IN	CNAME   mail.warpzone.ms.
*	IN	MX  20  mail.warpzone.ms.
forum	IN	MX  10  fb159b86-2cfd-493e-92ee-08cf0f9c99a0.pub.cloud.scaleway.com.
forum	IN	TXT   "v=spf1 mx a a:fb159b86-2cfd-493e-92ee-08cf0f9c99a0.pub.cloud.scaleway.com ~all"
firmware IN	A       144.76.30.226
firmware IN	AAAA    2a01:4f8:191:21e1::23
;authentication for mailchimp (newsletter distribution)
k1._domainkey IN CNAME dkim.mcsv.net.
@ IN TXT    "v=spf1 include:servers.mcsv.net ?all"
