; zonefile for ffms. for external
$TTL    86400
@       IN      SOA     service.freifunk-muensterland.de. info.freifunk-muensterland.de. (
                     {{ansible_date_time.epoch}}         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
;
@			IN      NS      {{bind.ns_name}}.ffms.
{{bind.ns_name}}			IN      A       {{ansible_default_ipv4.address}}
firmware	IN      A       144.76.30.226
firmware	IN      AAAA    2a01:4f8:191:21e1::23
