zone "freifunk-muensterland.de." IN {
	type master;
	file "/etc/bind/db.freifunk-muensterland.de";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
	   {{hostvars[host].ansible_ssh_host }};
{% endfor %}
	};
};
zone "servers.freifunk-muensterland.de." IN {
	type master;
	file "/etc/bind/db.servers.freifunk-muensterland.de";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
           {{hostvars[host].ansible_ssh_host }};
{% endfor %}
	};
};
zone "services.freifunk-muensterland.de." IN {
	type master;
	file "/etc/bind/db.services.freifunk-muensterland.de";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
           {{hostvars[host].ansible_ssh_host }};
{% endfor %}
	};
};
zone "knoten.freifunk-muensterland.de." IN {
	type master;
	file "/etc/bind/db.knoten.freifunk-muensterland.de";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
           {{hostvars[host].ansible_ssh_host }};
{% endfor %}
	};
};
zone "freifunk-muenster.de." IN {
	type master;
	file "/etc/bind/db.freifunk-muenster.de";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
	   {{hostvars[host].ansible_ssh_host }};
{% endfor %}
	};
};
