{% for domain in domains %}
zone "{{domain[0]}}." IN {
	type master;
	file "/etc/bind/db.{{domain[0]}}";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
	   {{hostvars[host].ansible_ssh_host }};
{% endfor %}
	};
};
zone "servers.{{domain[0]}}." IN {
	type master;
	file "/etc/bind/db.servers.{{domain[0]}}";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
           {{hostvars[host].ansible_ssh_host }};
{% endfor %}
	};
};
zone "services.{{domain[0]}}." IN {
	type master;
	file "/etc/bind/db.services.{{domain[0]}}";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
           {{hostvars[host].ansible_ssh_host }};
{% endfor %}
	};
};
zone "knoten.{{domain[0]}}." IN {
	type master;
	file "/etc/bind/db.knoten.{{domain[0]}}";
	allow-transfer {
	   localhost;
{% for host in groups['gateways'] %}
           {{hostvars[host].ansible_ssh_host }};
{% endfor %}
	};
};
{% endfor %}
