# {{ ansible_managed }}

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
{% if blocked_tcp_ports is defined %}
{% for port in blocked_tcp_ports %}
-A FORWARD -p tcp --dport {{port}}  -j DROP
{% endfor %}
{% endif %}
{% if blocked_udp_ports is defined %}
{% for port in blocked_udp_ports %}
-A FORWARD -p udp --dport {{port}}  -j DROP
{% endfor %}
{% endif %}
:OUTPUT ACCEPT [0:0]
COMMIT
*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{% if ffrl_tun is defined %}
-A POSTROUTING -o tun-+ -p tcp -m tcp --tcp-flags SYN,RST SYN -m tcpmss ! --mss 0:1220 -j TCPMSS --set-mss 1220
{% endif %}
COMMIT
