# This file is managed by ansible, don't make changes here - they will be overwritten.
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

COMMIT
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{% if ffrl_tun is defined %}
-A POSTROUTING -o tun-+ -j SNAT --to-source {{server_ipv4_nat | ipaddr('address')}}
{% endif %}
COMMIT
*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-N DNS
-A OUTPUT -p udp -m udp --dport 53 -j DNS
-A OUTPUT -p tcp -m tcp --dport 53 -j DNS
{% for host in groups['services'] %}
-A DNS -d {{hostvars[host].ansible_ssh_host}}/32 -j RETURN
{% endfor %}
{% if v4dnsips is defined %}
{% for entry in v4dnsips %}
-A DNS -d {{entry}}/32 -j RETURN
{% endfor %}
{% endif %}
-A DNS -j MARK --set-mark 0x1
-A DNS -j RETURN
:POSTROUTING ACCEPT [0:0]
{% if ffrl_tun is defined %}
-A POSTROUTING -o tun-+ -p tcp -m tcp --tcp-flags SYN,RST SYN -m tcpmss ! --mss 0:1240 -j TCPMSS --set-mss 1240
{% endif %}
COMMIT
