# {{ ansible_managed }}

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -p udp -m udp --dport 111 -j DROP

COMMIT
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{% if ipv4_direkt_ausleiten is defined and ipv4_direkt_ausleiten %}
{% if domaenenliste is defined %}
{% for domaene in domaenenliste|dictsort %}
-A POSTROUTING -o {{ ansible_default_ipv4.interface }} --source {{ domaenen[domaene[0]].ffv4_network }} -j SNAT --to-source {{ ansible_default_ipv4.address }}
{% endfor %}
{% endif %}
{% elif ffrl_tun is defined and ffrl_nat_ip is defined %}
{% if domaenenliste is defined %}
{% for domaene in domaenenliste|dictsort %}
-A POSTROUTING -o tun-ffrl+ --source {{ domaenen[domaene[0]].ffv4_network }} -j SNAT --to-source {{ ffrl_nat_ip | ipaddr('address') }}
{% endfor %}
{% endif %}
{% elif ffnw_tun is defined and ffnw_nat_ip is defined %}
{% if domaenenliste is defined %}
{% for domaene in domaenenliste|dictsort %}
-A POSTROUTING -o tun-ffnw+ --source {{ domaenen[domaene[0]].ffv4_network }} -j SNAT --to-source {{ ffnw_nat_ip | ipaddr('address') }}
{% endfor %}
{% endif %}
{% endif %}
{% if ffnw_tun is not defined and ffnw_nat_ip is not defined and ffrl_tun is not defined and ffrl_nat_ip is not defined %}
-A POSTROUTING -o gre+ -p tcp -m tcp --dport 53 -j SNAT --to-source 10.0.0.{{vm_id}}
-A POSTROUTING -o gre+ -p udp -m udp --dport 53 -j SNAT --to-source 10.0.0.{{vm_id}}
{% endif %}
COMMIT
*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{% if ffrl_tun is defined or ffnw_tun is defined %}
-A POSTROUTING -o tun-+ -p tcp -m tcp --tcp-flags SYN,RST SYN -m tcpmss ! --mss 0:1240 -j TCPMSS --set-mss 1240
{% endif %}
COMMIT
