---
# Role for configure bird and bird6 for our gateway servers.
- name: Add repo key for bird (Debian)
  apt_key:
    url: https://bird.network.cz/debian/apt.gpg
  when: ansible_distribution == "Debian" and ansible_distribution_major_version == "8"

- name: add bird repo
  apt_repository:
    repo: "deb [trusted=yes] http://bird.network.cz/debian/ {{ ansible_distribution_release }} main"
    state: present
  when: ansible_distribution == "Debian" and ansible_distribution_major_version == "8"

- name: install bird and other required packets
  apt:
    pkg: ['bird', 'bird6', 'ipcalc']
    update_cache: yes
    cache_valid_time: 1800
    state: present
  when: ansible_distribution == "Debian" and ansible_distribution_major_version == "8"

- name: install bird and other required packets
  apt:
    pkg: ['bird', 'ipcalc']
    update_cache: yes
    cache_valid_time: 1800
    state: present
  when: (ansible_distribution == "Ubuntu") or
        (ansible_distribution == "Debian" and ansible_distribution_major_version == "9") or
        (ansible_distribution == "Debian" and ansible_distribution_major_version == "10")

- name: calculate more specific routes for DHCP pools
  shell: ipcalc {{ domaenenliste[item].dhcp_start }} - {{ domaenenliste[item].dhcp_ende}} | grep -v "deaggregate" | sed -e 's/\(^.*$\)/route \1 via "bat{{item}}";/g'
  check_mode: no
  changed_when: false
  register: more_specific_routes
  with_items: "{{domaenenliste | default([])}}"
  when: domaenenliste is defined

- name: configure bird.conf
  template:
    src: bird.conf.j2
    dest: /etc/bird/bird.conf
  notify:
    - reload bird

- name: configure bird6.conf
  template:
    src: bird6.conf.j2
    dest: /etc/bird/bird6.conf
  notify:
    - reload bird6

- name: create folder for bird.service file
  file: path=/etc/systemd/system/bird.service.d state=directory mode=0755

- name: bird.service kopieren
  copy:
    src: bird.service
    dest: /etc/systemd/system/bird.service.d/override.conf
  notify:
    - reread systemd configs
    - restart bird

- name: create folder for bird6.service file
  file: path=/etc/systemd/system/bird6.service.d state=directory mode=0755

- name: bird6.service kopieren
  copy:
    src: bird6.service
    dest: /etc/systemd/system/bird6.service.d/override.conf
  notify:
    - reread systemd configs
    - restart bird6
