# {{ ansible_managed }}

{% set indexer = [0] -%}
{% for domaene in domaenen|dictsort %}

# BEGIN: Domäne-{{domaene[0]}}
{% if indexer.append(indexer.pop() + 1) %}{% endif %}{# increment indexer by 1 #}
# BATMAN Interface für Domäne-{{domaene[0]}}
auto bat{{domaene[0]}}
iface bat{{domaene[0]}}
	address {{domaene[1].ffv6_ffi_network | ansible.utils.ipaddr(vm_id) | ansible.utils.ipaddr('address')}}/64
	address {{domaene[1].ffv4_network | ansible.utils.ipaddr(vm_id) | ansible.utils.ipaddr('address') }}/{{domaene[1].ffv4_network | ansible.utils.ipaddr(vm_id) | ansible.utils.ipaddr('prefix') }}
	ipv6-accept-ra 0
	hwaddress de:ad:be:{{ '%02x' % (indexer[0] // 256) }}:{{ '%02x' % (indexer[0] % 256) }}:{{vm_id}} 
{% set batman_ifs = [] %}{% for host in groups["gateways"] %}{% if domaene[0] in hostvars[host].domaenenliste %}{{ batman_ifs.append("t"+domaene[0]+"-"+host) }}{% endif %}{% endfor %}
	batman-ifaces {{batman_ifs|join(' ')}}
	batman-multicast-mode disable

# Tunnel-Interfaces für Domäne-{{domaene[0]}}
{% for host in groups["gateways"] %}
{% if domaene[0] in hostvars[host].domaenenliste %}
{% if indexer.append(indexer.pop() + 1) %}{% endif %}{# increment indexer by 1 #}
auto t{{domaene[0]}}-{{ host }}
iface t{{domaene[0]}}-{{ host }}
{% if build_tunnels_over_ipv6_if_available is defined and build_tunnels_over_ipv6_if_available and ipv6 is defined and hostvars[host].ipv6 is defined %}
	tunnel-mode ip6gretap
	tunnel-local {{ipv6}}
	tunnel-remote {{hostvars[host].ipv6}}
{% else %}
	tunnel-mode gretap
	tunnel-local {{ipv4}}
	tunnel-remote {{hostvars[host].ipv4}}
{% endif %}
	tunnel-key {{domaene[0]|int}}
	hwaddress de:ad:be:{{ '%02x' % (indexer[0] // 256) }}:{{ '%02x' % (indexer[0] % 256) }}:{{vm_id}}
{% endif %}
{% endfor %}
# END: Domäne-{{domaene[0]}}

{% endfor %} 

