{
  "dataPath": "../data/",
  "siteName": "{{freifunk.name}}",
  "mapSigmaScale": 0.5,
  "showContact": false,
  "maxAge": 14,
  "blinkingHours": 8,
  "mapLayers": [
    {
      "name": "OSM Mapnik",
      "url": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      "config": {
        "subdomains": "abc",
        "type": "osm",
        "attribution": "&copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a>",
        "maxZoom": 18
      }
    },
    { "name": "MapQuest",
      "url": "https://otile{s}-s.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.jpg",
      "config": {
        "subdomains": "1234",
        "type": "osm",
        "attribution": "Tiles &copy; <a href=\"https://www.mapquest.com/\" target=\"_blank\">MapQuest</a>, Data CC-BY-SA OpenStreetMap",
        "maxZoom": 18
      }
    },
    {
      "name": "Stamen.TonerLite"
    }
  ],
  "siteNames": [
{% for domaene in domaenen|dictsort %}
    { "site": "{{freifunk.kurzname}}d{{domaene[0]}}", "name": "Domäne {{domaene[0]}} - {{domaene[1].name}}" }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
  "nodeInfos": [
    { "name": "Clientstatistik",
      "href": "https://graphite.{{freifunk.domain}}/render/render?format=png&from=-24h&target=node.{NODE_ID}.count&yMin=0&height=600&width=800",
      "thumbnail": "https://graphite.{{freifunk.domain}}/render/render?format=png&from=-24h&target=node.{NODE_ID}.count&yMin=0&height=300&width=400",
      "caption": "Knoten {NODE_ID}"
    }
  ]
}

