#!/bin/bash
# Shellskript zum Erzeugen vom Kartendaten

# Domänentexte
declare -A text scale community members
text=({% for domaene in domaenen|dictsort %}[{{domaene[0]}}]="{{domaene[1].name}}" {% endfor %})
scale=({% for domaene in domaenen|dictsort %}[{{domaene[0]}}]={{domaene[1].map_scale}} {% endfor %})
community=({% for domaene in domaenen|dictsort %}{% if "community" in domaene[1] %}[{{domaene[0]}}]="{{domaene[1].community}}" {% endif %}{% endfor %})
for i in "${!community[@]}"; do
    j=${community[$i]}
    members[$j]="${members[$j]} $i"
done

# Daten mit ffmap-backend aus Alfred auslesen und owner entfernen
for i in /proc/sys/net/ipv4/conf/bat*; do
    num=${i#*bat}
    mkdir -p /var/ffmap/data${num}
    mkdir -p /var/www/html/maps/data${num}
    /usr/src/ffmap-backend/backend.py -d /var/ffmap/data${num} -m bat${num}:/run/alfred.${num}.sock
    jq '.nodes = (.nodes | with_entries(del(.value.nodeinfo.owner)))' < /var/ffmap/data${num}/nodes.json > /var/www/html/maps/data${num}/nodes.json
    cp /var/ffmap/data${num}/graph.json /var/www/html/maps/data${num}/graph.json
done

# Daten der Legacy-Domäne per wget holen
mkdir -p /var/ffmap/data_legacy /var/www/html/maps/data_legacy
wget http://192.168.43.3/map/data/nodes.json -O /var/ffmap/data_legacy/nodes.json
wget http://192.168.43.3/map/data//graph.json -O /var/ffmap/data_legacy/graph.json
mv /var/ffmap/data_legacy/* /var/www/html/maps/data_legacy

# Daten mit merge_map_data.py zuammenfügen
mkdir -p /var/www/html/maps/data
/usr/src/tools/merge_map_data.py -o /var/www/html/maps/data /var/www/html/maps/data?? /var/www/html/maps/data_legacy

for com in "${!members[@]}"; do
    dir=/var/www/html/maps/data_${com//" "/_}
    mkdir $dir
    unset src
    for i in ${members["$com"]}; do
	src="$src /var/www/html/maps/data$i"
    done
    /usr/src/tools/merge_map_data.py -o $dir $src
done

# meshviewer-Daten kopien/verlinken, wenn noch nicht vorhanden und index.html erzeugen
for i in /var/www/html/maps/data?*; do
    suf=${i#*data}
    if [ ! -e /var/www/html/maps/map${suf} -o "$1" = "-f" ]; then
	case $suf in
            ??)      name="Domäne $suf" ;;
            _legacy) name="Domäne Legacy" ;;
            *)       name="Community${suf//_/" "}" ;;
        esac
        mkdir /var/www/html/maps/map${suf} && cd /var/www/html/maps/map${suf} && ln -s ../map/* . 
	cd /var/www/html/maps/map${suf} && rm config.json && sed -e "s#/data/#/data$suf/#" -e "s#Münsterland#Münsterland - ${name}#" -e "s#0.5#${scale[$suf]-1.0}#" <../map/config.json >config.json
        cat <<EOF > /var/www/html/maps/index.html
<html>
<head>
<meta charset="UTF-8">
<title>Freifunk Münsterland - Karten</title>
</head>
<body>
<h1>Freifunk Münsterland - Karten</h1>
<p><a href="map/">Gesamtkarte</a></p>
<p>
EOF
	for j in /var/www/html/maps/data??; do
	    suf2=${j#*data}
	    name="Domäne $suf2 ${text[$suf2]:+-} ${text[$suf2]}"
	    echo "<a href=\"map$suf2/\">$name</a><br>" >> /var/www/html/maps/index.html
        done
	echo "<a href=\"map_legacy/\">Domäne Legacy</a></p><p>" >> /var/www/html/maps/index.html
	for j in /var/www/html/maps/data_*; do
	    suf2=${j#*data}
            if [ $suf2 != _legacy ]; then
		name="Community${suf2//_/" "}"
	        echo "<a href=\"map$suf2/\">$name</a><br>" >> /var/www/html/maps/index.html
            fi
        done
        cat <<EOF >> /var/www/html/maps/index.html
</p>
<hr>
<p><a href="http://umap.openstreetmap.fr/de/map/ffms-domanen_62931">Gebiete der Domänen</a></p>
<p><a href="https://freifunk-muensterland.de/wiki/doku.php?id=technik:ip-aufteilung">IP-Aufteilung und Status der Domänen</a></p>
</body>
</html>
EOF
    fi
done

# DNS-Einträge für Knoten erzeugen
create_db_knoten.sh
