# This file is managed by ansible, don't make changes here - they will be overwritten.
{% for host in groups['gateways'] %}
{% if host != inventory_hostname and 'ffrl_tun' in hostvars[host] %}
auto bck-{{host}}
iface bck-{{host}} inet static
{% if hostvars[host].vm_id < vm_id %}
        address 192.168.0.{{hostvars[host].vm_id*20 + vm_id*2}}
{% else %}
        address 192.168.0.{{vm_id*20 + hostvars[host].vm_id*2 + 1}}
{% endif %}
        netmask 31
        pre-up ip link add $IFACE type gre local {{ansible_default_ipv4.address}} remote {{hostvars[host].ansible_ssh_host}} ttl 255
        pre-up ip link set $IFACE up multicast on
        post-up ip rule add iif $IFACE table ffnet
        pre-down ip rule del iif $IFACE table ffnet ||:
iface bck-{{host}} inet6 static
{% if hostvars[host].vm_id < vm_id %}
        address 2a03:2260:115:ffa1::{{hostvars[host].vm_id}}:{{vm_id}}:0
{% else %}
        address 2a03:2260:115:ffa1::{{vm_id}}:{{hostvars[host].vm_id}}:1
{% endif %}
        netmask 127
        post-up ip -6 rule add iif $IFACE table ffnet
        pre-down ip -6 rule del iif $IFACE table ffnet ||:
        post-down ip link delete $IFACE

{% endif %}
{% endfor %}
