[Unit]
Description=Kea DHCP-DDNS Server
Documentation=man:kea-dhcp-ddns(8)
Wants=network-online.target{% if kea.database.type == "postgresql" %} postgresql.service{% endif %}

After=network-online.target time-sync.target{% if kea.database.type == "postgresql" %} postgresql.service{% endif %}


[Service]
ExecStart=/usr/local/sbin/kea-dhcp-ddns -c /etc/kea/kea.conf
ExecReload=/usr/local/sbin/keactrl reload -s dhcp_ddns

[Install]
WantedBy=multi-user.target
