# This file is managed by ansible, don't make changes here - they will be overwritten.

# Batman Interface 
# - Erstellt das virtuelle Inteface fuer das Batman-Modul und bindet dieses an die Netzwerkbruecke 
# - Die unten angelegte Routing-Tabelle wird spaeter fuer das Routing innerhalb von Freifunk (Router/VPN) verwendet 

auto bat0
iface bat0 inet static
        address {{ff_network.v4_network | ipaddr(server_id) | ipaddr('address') }}
        netmask {{ff_network.v4_network | ipaddr('netmask')}}
        pre-up modprobe batman-adv
	pre-up ip link add bat0 type batadv
        post-up ip link set dev bat0 up
        post-up batctl it 10000
	post-up batctl gw server {{batman.downstream}}/{{batman.upstream}}
	post-up batctl if add mesh-vpn ||:
{% for host in gre_ffms.groups %}
{% if ansible_ssh_host != hostvars[host].ansible_ssh_host %}
	post-up batctl if add tap-{{host}} ||:
{% endif %}
{% endfor %}
        post-up ip rule add from all fwmark 0x1 table ffnet pref 16000
        post-up ip rule add iif bat0 table ffnet pref 16000
        post-up ip rule add iif lo lookup ffnet suppress_prefixlength 0 pref 16500
        post-down ip rule del from all fwmark 0x1 table ffnet ||:
        post-down ip rule del iif bat0 table ffnet ||:
        post-down ip rule del iif lo lookup ffnet suppress_prefixlength 0 ||:

iface bat0 inet6 static
        address {{ff_network.v6_network | ipaddr(server_id) | ipaddr('address')}}
        netmask {{ff_network.v6_network | ipaddr('prefix')}}
        post-up ip -6 rule add from all fwmark 0x1 table ffnet pref 16000
        post-up ip -6 rule add iif bat0 table ffnet pref 16000
        post-up ip -6 rule add iif lo lookup ffnet suppress_prefixlength 0 pref 16500
        post-up ip -6 rule add from {{ff_network.v6_network | ipaddr(server_id) | ipaddr('address')}} lookup ffnet pref 16000
        post-down ip -6 rule del from all fwmark 0x1 table ffnet ||:
        post-down ip -6 rule del iif bat0 table ffnet ||:
        post-down ip -6 rule del iif lo lookup ffnet suppress_prefixlength 0 ||:
        post-down ip -6 rule del from {{ff_network.v6_network | ipaddr(server_id) | ipaddr('address')}} lookup ffnet ||:
	post-down modprobe -r batman-adv
