# This file is managed by ansible, don't make changes here - they will be overwritten.

# Batman Interface 
# - Erstellt das virtuelle Inteface fuer das Batman-Modul und bindet dieses an die Netzwerkbruecke 
# - Die unten angelegte Routing-Tabelle wird spaeter fuer das Routing innerhalb von Freifunk (Router/VPN) verwendet 

allow-hotplug bat0

iface bat0 inet6 manual
        pre-up modprobe batman-adv
        post-up ip link set dev bat0 up
        post-up brctl addif br0 bat0
        post-up batctl it 10000
        post-up ip rule add from all fwmark 0x1 table 42
#        disabled, not used atm
#        post-up start-stop-daemon -b --start --exec /usr/sbin/alfred -- -i br0 -b bat0;
#        post-up start-stop-daemon -b --start --exec /usr/sbin/batadv-vis -- -i bat0 -s;