/*  {{ ansible_managed }} */

object CheckCommand "nrpe2" {
    import "ipv4-or-ipv6"

    command = [ PluginDir + "/check_nrpe" ]

    arguments = {
	"-H" = "$nrpe_address$"
	"-p" = "$nrpe_port$"
	"-c" = "$nrpe_command$"
	"-n" = {
	    set_if = "$nrpe_no_ssl$"
	    description = "Do not use SSL."
	}
	"-u" = {
	    set_if = "$nrpe_timeout_unknown$"
	    description = "Make socket timeouts return an UNKNOWN state instead of CRITICAL"
	}
	"-t" = "$nrpe_timeout$"
	"-a" = {
	    value = "$nrpe_arguments$"
	    repeat_key = false
	    order = 1
	}
	"-2" = {
	    set_if = "$nrpe_v2$"
	    description = "Use NRPE v2 only"
	}
	"-4" = {
	    set_if = "$nrpe_ipv4$"
	    description = "Use IPv4 connection"
	}
	"-6" = {
	    set_if = "$nrpe_ipv6$"
	    description = "Use IPv6 connection"
	}
    }

    vars.nrpe_address = "$check_address$"
    vars.nrpe_no_ssl = false
    vars.nrpe_timeout_unknown = false
    vars.check_ipv4 = "$nrpe_ipv4$"
    vars.check_ipv6 = "$nrpe_ipv6$"
    vars.nrpe_v2 = true
    timeout = 5m
}
