/* {{ ansible_managed }} */

object UserGroup "freifunk_admins" {
  display_name = "Freifunk-Adminstratoren"
}

{% for item in icinga2.userliste | default() | selectattr('email','defined') | union(icinga2.userliste | default() | selectattr('jid','defined')) %}
object User "{{ item.user | default(item.email | default(item.jid)) }}" {
  import "generic-user"
  groups = ["freifunk_admins"]

  display_name = "{{ item.user | default(item.email | default(item.jid)) }}"
{% if item.email is defined %}
  email = "{{ item.email }}"
{% endif %}
{% if item.jid is defined %}
  vars.xmpp = "{{ item.jid }}"
{% endif %}
}

{% endfor %}
