# {{ ansible_managed }}

# Our Wordpress homepage is available under freifunk-ingolstadt.de and ingolstadt.freifunk.net

object Host "freifunk-ingolstadt.de" {
  import "generic-host"
  address = "freifunk-ingolstadt.de"
  vars.vhost = "freifunk-ingolstadt.de"
  vars.webpage = ["web-homepage"]
  vars.notification["mail"] = {
    groups = ["freifunk_admins"]
  }
  vars.notification["xmpp"] = {
    groups = ["freifunk_admins"]
  }
}

object Host "ingolstadt.freifunk.net" {
  import "generic-host"
  address = "ingolstadt.freifunk.net"
  vars.vhost = "ingolstadt.freifunk.net"
  vars.webpage = ["web-homepage"]
  vars.notification["mail"] = {
    groups = ["freifunk_admins"]
  }
  vars.notification["xmpp"] = {
    groups = ["freifunk_admins"]
  }
}

