# {{ ansible_managed }}

# check FFIN homepage: TLS connection must be ok, footer must be ok
apply Service "web-homepage" {
    import "generic-service"
    display_name =			"Website: " + host.vars.vhost
    vars.http_vhost =			host.vars.vhost
    check_command =			"http"
    vars.http_ssl =			"true"
    vars.http_onredirect =		"follow"
    vars.http_uri =			"/neuigkeiten/"
    vars.http_string =			"Datenschutzerklärung"
    assign where host.address && "web-homepage" in host.vars.webpage
}
