# This file is managed by ansible, don't make changes here - they will be overwritten.
default-lease-time {{dhcp_global.lease_default}};
max-lease-time {{dhcp_global.lease_max}};

authoritative;

log-facility local7;

{% for domaene in domaenenliste|dictsort %}
subnet {{domaenen[domaene[0]].ffv4_network | ipaddr('network')}} netmask {{domaenen[domaene[0]].ffv4_network | ipaddr('netmask')}} {
    interface bat{{domaene[0]}};
    range {{domaene[1].dhcp_start}} {{domaene[1].dhcp_ende}};

    option routers {{domaenen[domaene[0]].ffv4_network | ipaddr(domaene[1].server_id) | ipaddr('address') }};
{% if public_dns_ip is defined %}
    option domain-name-servers {{public_dns_ip }};
{% else %}
    option domain-name-servers {{domaenen[domaene[0]].ffv4_network | ipaddr(domaene[1].server_id) | ipaddr('address') }};
{% endif %}

    option interface-mtu {{dhcp_global.mtu}};
{% if dhcp_global.domain_search is defined %}
    option domain-name  "{{dhcp_global.domain_search}}";
    option domain-search "{{dhcp_global.domain_search}}";
{% endif %}
}

{% endfor %}
