{
	"global" : {
		"mcast_group" : "ff02::2:1001",
		"port" : 1001,
		"cache_time_s" : 59,
		"interface_type_regex_patterns" : {
			"l2tp" : "br.+",
			"gretap" : "t.+"
		},
		"additional_static_nodeinfo" : {
			"owner" : {
				"contact" : "{{ server_besitzer }}"
			},
			"software": {
				"autoupdater": {
					"branch": "{{ group_names | last }}",
					"enabled": true
				}
			},
			"advanced-stats": {
				"store-stats": true
			},
			"node_type" : {
				"is_infrastructure" : true,
				"type" : "{{ group_names | last }}"
			}
		}
	},
	"domains" : [
{% if domaenenliste is defined %}
{% set respondd_domaenen = domaenenliste %}
{% else %}
{% set respondd_domaenen = domaenen %}
{% endif %}
{% for domaene in respondd_domaenen|dictsort %}
		{
			"bat_iface": "bat{{domaene[0]}}",
{% if 'gateways' in group_names %}
			"br_iface": "br{{domaene[0]}}",
{%endif%}
			"site_code": "ffmsd{{domaene[0]}}"
		}{% if not loop.last %},{% endif %}
{% endfor %}

	]
}
