# This file is managed by ansible, don't make changes here - they will be overwritten.
log syslog all;
{# router id {{ff_network.v4_network | ipaddr(server_id) | ipaddr('address') }};#}
router id {{ vm_id }};

table ffnet;

protocol kernel 'kernel_ffnet' {
        scan time 20;
        import all;
	export filter {
{% for domaene in domaenenliste|dictsort %}
		if net ~ [{{ domaenen[domaene[0]].ffv4_network }}{ {{- domaenen[domaene[0]].ffv4_network | ipaddr('prefix') + 1 }},32}] then reject;
{% endfor %}
		accept;
	};
        table ffnet;
        kernel table 42;
        device routes;
};

protocol bfd {
        table ffnet;
        interface "gre*" {
        };
        multihop {
        };
};

protocol device {
        scan time 10;
};

protocol static dhcp_Bereich {
	table ffnet;
{% for domaene in domaenenliste|dictsort %}
	route {{domaenen[domaene[0]].ffv4_network | ipaddr(domaene[1].server_id) | ipaddr('address') }}/32 via "bat{{domaene[0]}}";
{% endfor %}
{% for result in spezifische_Routen.results %}
{% for line in result['stdout_lines'] %}
	{{line}}
{% endfor %}
{% endfor %}
}

protocol ospf {
  table ffnet;
  import filter {
	if net ~ [192.168.0.0/16+] then reject;
	accept;
  };
  export filter {
	if net ~ [192.168.0.0/16+] then reject;
	accept;
  };
  area 0.0.0.0 {
   interface "bat*" {
	stub;
   };
   interface "gre-*" {
   };

  };
};

protocol kernel 'kernel_master' {
        scan time 20;
        table master;
        kernel table 254;
        import all;
        export all;
};

protocol static {
        table master;
        import all;
        export none;
};
