# {{ ansible_managed }}

{% for item in groups['vip-nodes']|default([]) %}

object Host "{{ item }}" {
  import "generic-host"
  address6 = "{{ hostvars[item].ansible_ssh_host }}"
  check_command = "ping6"
}

{% endfor %}
