# {{ ansible_managed }}

default-lease-time {{dhcp_global.lease_default}};
max-lease-time {{dhcp_global.lease_max}};

authoritative;

log-facility local7;

subnet {{ff_network.v4_network | ipaddr('network')}} netmask {{ff_network.v4_network | ipaddr('netmask')}} {
    range {{dhcp.range_start}} {{dhcp.range_end}};

    option routers {{ff_network.v4_network | ipaddr(server_id) | ipaddr('address') }};
    option domain-name-servers {{ff_network.v4_network | ipaddr(server_id) | ipaddr('address') }};
    option interface-mtu {{dhcp_global.mtu}};
}
{% if "static_hosts" in hostvars[inventory_hostname] %}

{% for host in static_hosts %}

host {{host.name}} {
    hardware ethernet {{host.mac_address}};
    fixed-address {{host.v4_address}};
}
{% endfor %}
{% endif %}

