#!/bin/bash
for i in /proc/sys/net/ipv4/conf/bat*; do
    num=${i#*bat}
    python /usr/src/node-stats/main.py --server={{node_stats.graphite_target.host}} --port={{node_stats.graphite_target.host}} --domain=domaene-${num} --socket=/run/alfred.${num}.sock
done